<h4 class="card-title">Resume </h4>
<p class="card-text">Le travail de Levinas peut être mieux compris en cartographiant les relations
    au sein et entre
    plusieurs dimensions de
    topologique
    variétés qui décrivent les transformations tensorielles thématiques au sein et entre diverses
    thématiques
    Genres (GT).
</p>
<p class="card-text"> De nombreux grands ouvrages ont été écrits décrivant les relations entre la
    langue de Levinas et
    ceux des autres
    philosophes
    comme Heidegger, Husserl ou Hegel.
</p>
<p class="card-text"> Cependant, il reste beaucoup de travail à faire pour étudier la structure du
    système de Levinas.
    livres, la structure de
    son
    les phrases et les expressions, les règles de transformations fonctionnelles des termes, les
    modèles qui régissent leur
    récurrence périodique et leur juxtaposition avec d’autres termes métaphoriques.
</p>
<p class="card-text"> Déjà dans ses premiers ouvrages publiés, Levinas manifeste une attention
    extraordinaire à
    morphèmes linguistiques
    et leurs dimensions métaphoriques. Dans son article de 1932 qui présentait Heidegger au monde
    francophone,
    Martin Heidegger et
    l’ontologie, Levinas explique sa décision de traduire le terme heideggerien Zuhandenheit par
    maniabilité parce que
    il souhaite « prendre ce terme dans son sens étymologique »35,
    en préservant la référence de la racine à la main. Lors d'une conversation peu après
    Après la fin de la Seconde Guerre mondiale, Levinas réfléchit explicitement à l'importance de
    morphèmes dans la pensée de Heidegger, expliquant que ce que sont les morphèmes linguistiques de
    Heidegger
    Les constructions Être-au-monde, Être-vers-la-mort et Être-avec ajoutent à notre
    La conscience philosophique « est que ces prépositions « dans », « pour » et « avec » sont au
    racine du verbe « être » (comme « ex » est à la racine du verbe « exister ») ».
</p>
<p class="card-text"> Nous devrions donc supposer que Levinas réfléchit délibérément à tous les
    aspects de
    langue : de
    racines, préfixes et suffixes ; du nominal, du verbal, du prépositionnel, de l'adjectival et
    parties adverbiales du discours ; des voix actives, moyennes et passives ; du nominatif, du
    vocatif, du datif,
    cas génitif, ablatif, accusatif et même locatif.
</p>
<p class="card-text"> Ce projet s'efforce de cartographier la topologie de la diversité de ces
    thématiques.
    Genres (TG)
</p>
<p class="card-text">
<h5>Le site est divisé en les sections suivantes :</h5>
<ul class="list-genre">
    <li class="list-genre-item">
        <a href="/summary">Résumé du projet</a>
    </li>
    <li class="list-genre-item">
        <a href="/words">Liste de mots</a>
    </li>
    <li class="list-genre-item">
        <a href="/genres">Genres thématiques</a>
    </li>
    <li class="list-genre-item">
        <a href="/membership">Adhésion à un genre</a>
    </li>
    <li class="list-genre-item">
        <a href="/relations">Relations internes et externes</a>
    </li>
    <li class="list-genre-item">
        <a href="/technical">Notes techniques
        </a></li>
</ul>
