<h4 class="card-title">Combinations</h4>
<p class="card-text french">Préfixes, suffixes, prépositions, racines étymologiques et
    verbales, nominales, adjectivales et adverbiales
    les combinaisons appartiennent toutes à différents THEMATIC_GENRES. Cela permet à un seul
    mot d'envelopper un collecteur à N plis
    de THEMATIC_GENRES.
</p>
<p class="card-text french">Par exemple, le mot <a href="/word/survivre">"survivant"</a>
    appartient au genre GENESIS car le
    la racine étymologique est « vivre ». Il appartient au
    genre MATHEMATICS car le préfixe "sur" évoque la hauteur.
</p>
<p class="card-text french">La naissance du fils est appelée une <a href="/word/resurrection">"résurrection"</a>
    car elle
    monte (surgir) à nouveau (re), combinant ainsi "hauteur" et "récurrence" de MATHEMATICS
</p>