<h4 class="card-title">Le principe de dualité</h4>
<h5>Polars réciproques et principe de dualité</h5>
<p class="card-text">La logique de Levinas est définie par <a
        href="https://www.mn.uio.no/math/personer/vit/ragnip/boris_h.pdf"><a
        href="https://en.wikipedia.org/wiki/Pole_and_polar">Réciproque
    polaires</a> et <a href="https://www.britannica.com/science/duality">le principe de dualité</a>, deux termes que
    j'ai
    emprunté à la géométrie projective de </a></p>
<p class="card-text">Il y fait référence à plusieurs reprises,
    dans des discussions sur l'ambiguïté, l'ambhibologie, les contradictions, les paradoxes, etc.
    Cela se voit dans son utilisation d'oppositions telles que « totalité » et « infini », « soi » et « autre ».
</p>
<p class="card-text">La nature de cette relation polaire est l'un des aspects les plus mal compris du projet de Levinas.
    en écrivant. C'est souvent
    dialectique pratiquée selon la logique de l’ami contre l’ennemi, une lutte à mort. Même Jean-François
    Lyotard parle de « la haine du neutre constamment manifestée par Levinas ».
</p>
<p class="texte-carte">
    Cette lecture de la polarité comme de l'animosité a eu un effet alarmant sur la recherche de Levina : une tendance à
    lire son
    La phénoménologie éthique comme éthique du ressentiment.
    Quand Richard Cohen affirme que « le cri de guerre de Levinas serait « Contre le mal, pour le bien ! » » il faut
    se demander si de telles polémiques expriment la pensée de Levinas ou si Cohen comprend même ce que signifient les
    mots « bon » et
    « mal » signifie dans les écrits de Levinas. Pour Levinas, le « bien » fait référence à la nouveauté positive du
    futur, le « plus »
    le « mal » fait référence à la nouvelle négativité du futur. L'utilisation de ces termes par Cohen évoque cependant
    un
    généalogie différente des mœurs.
</p>
<p class="card-text">Mais c'est une mauvaise lecture de la polarité. Une telle interprétation considérerait la
    négativité comme la principale
    relation entre les pôles. Mais pour Levinas, la négation implique déjà une relation positive, dans laquelle chaque
    terme
    conserve sa propre gravité spécifique. Pour cette raison, la négation d'une négation n'est ni une tautologie ni une
    conséquence directe.
    réflexion ni une <em>Aufhebung</em> hégélienne mais
    il s'agit plutôt d'une image déformée et infléchie produite par la lumière réfractée par cet excès gravitationnel.
    Parce que l'apparent
    des négations sont faites dans les textes de Levinas
    possible par une positivité préalable, il ne faut pas réduire son travail à un ensemble
    polarités et formulations de sa pensée comme violence.
</p>
<p class="card-text">Les relations polaires sont toujours des relations réciproques entre deux pôles positifs</p>
<h5>Relations "Et". </h5>
<p>Levinas relie les termes à travers la conjonction « et ». Gilles Deleuze et Félix Guattari expliquent le sens de
    cette
    mot dans leur explication du rhizome :
</p>
<blockquote>
    Un rhizome n’a ni début ni fin ; c'est toujours au milieu, entre
    choses, inter-être, intermezzo. L'arbre est filiation, mais le rhizome est alliance,
    alliance unique. L'arbre impose le verbe "être", mais le tissu de
    le rhizome est la conjonction « et… et… et… ». Cette conjonction
    porte suffisamment de force pour ébranler et déraciner le verbe « être ». Où es-tu
    en allant? D'où viens-tu? Vers quoi vas-tu ? Ceux-ci sont
    questions totalement inutiles. Faire table rase, recommencer ou recommencer
    partir de zéro, chercher un début ou une fondation – tout cela implique un faux
    conception du voyage et du mouvement (conception méthodique, pédagogique,
    initiatique, symbolique...).
</blockquote>
<p class="card-text"> Deleuze prend cela de Jean Wahl</p>
<blockquote>
    32. « And » joue un rôle particulièrement important dans la littérature anglaise, en fonction non seulement de
    l'Ancien Testament mais aussi des « minorités » à l'œuvre sur la langue : un exemple typique est celui de J.
    M. Synge (voir les remarques de François Regnault sur la coordination en anglo-irlandais dans la version
    française
    traduction de Playboy of the Western World, Baladin du monde occidental [Paris:
    Biblio-thèque du Graphe]). Il ne faut pas penser qu'il est adéquat d'analyser le « et » comme un
    conjonction; au contraire, « et » est une forme particulière de chaque conjonction possible et met en jeu un
    logique du langage. Les œuvres de Jean Wahl contiennent de profondes réflexions sur ce sens du « et », sur
    dans la manière dont il remet en question la primauté du verbe « être ».
    33. Hjelmslev, Langue : une introduction, trad. Francis
</blockquote>
<h5>2 > 1</h5>
<p class="card-text">L'importance du doublement doit être comprise à la lumière des
    slogan mal compris « l’éthique est la première philosophie ».
    Plutôt que de nous inciter à occuper le rang de priorité, Levinas nous invite à nous interroger
    la priorité de la priorité, pour comprendre
    comment la priorité est toujours secondaire par rapport à la relation avec une seconde partie. La deuxième fête
    est l'autre, qui est aussi une singularité, mais placée
    en position de juxtapostion ou de proximité ou de sérialité
</p>
<p class="texte-carte">
    La prédication ontologique L’éthique est la première philosophie doit être lue
    parallèlement à l’utilisation de la numération par Levinas. La numération en Levinas ne suit pas le
    règles standard d'ordinanalité, où chaque terme successif peut être produit en ajoutant
    un incrément à celui-ci. Chaque transition renvoie déjà à une transmutation éthique entre
    (0) le néant, (1) la première personne subjective, (2) la dyade à la deuxième personne, et (3)
    la troisième personne qui fait référence à (∞) une multiplicité infinie. Pour comprendre la phrase
    Philosophie première, il faut déjà s'interroger sur la priorité de la priorité, comment la première
    Le principe archē est déjà perturbé par l'anarchie de ces nombreuses relations
</p>
<p class="texte-carte">
    Dans Totalité et Infini, Levinas exprime très clairement cette logique de polarité à travers des métaphores de
    genre.
</p>
<p class="texte-carte">
    Je suggérerais en fait que Levinas donne non seulement un genre à cette polarité, mais donne également à ce Féminin
    genré un genre propre.
    nom, un nom biblique. Ce n’est pas un des noms féminins que Lévinas donne dans « Le Judaïsme et le Féminin » comme
    Miriam ou Tamar ou Léa (DF 31), mais c'est peut-être le nom le plus fréquemment utilisé dans la Bible.
<p class="card-text">Il convient de noter que le chiffre deux a une signification particulière dans
    Judaïsme. Livres du Talmud
    toujours ouvert sur la deuxième page. Le premier livre de la création, la Genèse, commence par le
    mot B'RAISHIT. La racine du mot
    « ROSH » signifie le chef ou le premier. Le préfixe « B » signifie le chiffre deux, ainsi que
    nom maison, ainsi que la relation locative « à l'intérieur ».
    Le prénom féminin le plus populaire dans la Bible est en fait « Beth » comme dans « Bethléem ».
</p>
<p class="texte-carte">
    Il existe de multiples raisons pour lesquelles il est utile d’exprimer le féminin par le nom « Beth ». En hébreu, «
    Beth »
    signifie non seulement un nom propre, mais aussi la deuxième lettre de l'alphabet, בּ. Il peut fonctionner comme un
    locatif
    préfixe indiquant « l’intérieur », peut-être même « l’intériorité ». Bien que בּ soit la deuxième lettre de
    l’alphabet, c’est la
    première lettre de la création, la première lettre du premier mot de la première paracha du premier livre de la
    Torah :
    בְּרֵאשִׁית, "Au commencement". Déjà dans ce mot même, la racine רֹאשׁ – qui peut être traduite par « tête » ou
    « premier » ou même « ἀρχή » -- est précédé de la lettre secondaire בּ. « Beth » en hébreu ne signifie pas seulement
    la lettre בּ,
    mais aussi le mot בַּיִת, qui se traduit par « maison », voire par « habitation ». Pour cette raison, « Beth » est
    le plus
    nom féminin fréquemment utilisé dans la Bible, comme signifiant locatif dans les noms de lieux tels que « Bethel »
    et « Beth ».
    Israël." Encore une fois, le premier mot de la Torah, בְּרֵאשִׁית, abrite le principal רֹאשׁ au sein du בַּיִת.
</p>
<p class="texte-carte">
    Il y a quelque chose de presque pythagoricien dans sa pensée, dans le sens où les nombres ne servent pas seulement à
    compter,
    mais décrivent eux-mêmes certaines configurations de l'Être. Une enquête approfondie nécessitera une étude
    supplémentaire, mais
    nous pouvons commencer à expliquer ses chiffres ici.</p>
<p class="texte-carte">
    En plus de ces diverses significations linguistiques, בּ a également une signification mathématique : Parce que
    l'hébreu utilise
    lettres pour représenter les chiffres, בּ signifie également le chiffre 2. L'un des motifs qui sous-tend le plus
    largement le
    L’œuvre de Levinas est une question de nombre. Comme beaucoup de philosophes avant lui, Levinas est confronté à une
    problématique
    problème mathématique : quand on pense à une certaine quantité de choses, on conçoit généralement une singularité
    plutôt
    qu'une multiplicité. Autrement dit, lorsque nous envisageons « vingt chiens », nous considérons généralement cela
    comme un seul genre de chiens.
    vingt plutôt que de penser à la vingtaine des vingt eux-mêmes. Levinas exprime ce problème à travers des méditations
    sur la pluralité et la multiplicité « Le pluriel est donné à un nombre. Seule l’unité est ontologiquement
    privilégiée. Plusieurs
    est, mais en synthèse n’est plus » (TI 274).
</p>
<p class="texte-carte">
    Avant de produire ça
    femme avant vous, permettez-moi de commencer par suggérer que, dans ses premiers travaux, Levinas affirme que «
    toute philosophie est peut-être
    une méditation sur Shakespeare » (TO 72). Contrairement aux héros grecs tragiques qui affrontent la mort dans le
    cadre de leur
    destin et destin dans un Être-vers-la-mort heideggerien, Levinas évoque la confrontation de l’homme avec la mort à
    travers le
    personnage de Macbeth. Macbeth souhaite non seulement que le monde meure avec lui, « il souhaite que le
    que le néant de la mort soit un vide aussi total que celui qui aurait régné si le monde n'avait jamais été créé »
    (TI 231,
    mes italiques). Deux choses importantes doivent être dites à propos de ce personnage dramatique qui s’oppose à
    l’origination. Tout d'abord, il
    est averti par les sorcières – les Moirae, les Destins – que sa mort viendra des mains d'un Autre qui « n'est pas de
    femme née », son ami MacDuff. Deuxièmement, pour comprendre qui est Macbeth lui-même, nous devons comprendre que
    « Mac » est un préfixe gaélique courant pour « fils de ». « MacBeth » est un nom assez inhabituel car généralement
    ces noms sont
    patronyme, comme « Johnson » pour le fils de John ou « MacDonald » pour le fils de Donald, mais dans ce cas il
    s'agirait
    Il semblerait que ce personnage familier soit le fils d'une femme nommée « Beth » -- <a
        href=https://www.behindthename.com/name/macbeth">Mac Beatha signifiant « fils de la vie » </a>
</p>
<h5>0 avant 1</h5>
<p class="texte-carte">
    La principale innovation de Levinas dans Autrement qu'être est de se concentrer sur la manière dont l'<a
        href="/word/anarchy">anarchie</a> précède
    subjectivité. La relation explorée est comprise entre 0 et 1 et non entre 1 et 2.
</p>