        <h4 class="card-title">Doubler</h4>

                    <div class="card-text">Levinas structure sa pensée en double. Il fait référence à cela
                        en continu,
                        dans des discussions sur l'ambiguïté, l'ambhibologie, les contradictions, les paradoxes, etc.
                    </div>
                    <div class="card-text">L'importance du doublement doit être comprise à la lumière des
                        slogan mal compris « l’éthique est la première philosophie ».
                        Plutôt que de nous inciter à occuper le rang de priorité, Levinas nous invite à nous interroger
                        la priorité de la priorité, pour comprendre
                        comment la priorité est toujours secondaire par rapport à la relation avec une seconde partie.
                        La deuxième fête
                        est l'autre, qui est aussi une singularité, mais placée
                        en position de juxtapostion ou de proximité ou de sérialité
                    </div>
                    <div class="card-text">Il convient de noter que le chiffre deux a une signification particulière
                        dans
                        Judaïsme. Livres du Talmud
                        toujours ouvert sur la deuxième page. Le premier livre de la création, la Genèse, commence par
                        le
                        mot B'RAISHIT. La racine du mot
                        « ROSH » signifie le chef ou le premier. Le préfixe « B » signifie le chiffre deux, ainsi que
                        nom maison, ainsi que la relation locative « à l'intérieur ».
                        Le prénom féminin le plus populaire dans la Bible est en fait « Beth » comme dans « Bethléem ».
                    </div>
                    <div class="card-text">Il convient également de noter que le héros shakespearien "Macbeth" peut être
                        cassé
                        dans le patronyme « Mac » et le féminin « Beth », signifiant peut-être le souffle, la vie ou la
                        maison.
                    </div>
