<p>Le travail de Levinas est le plus souvent associé à la critique de la projection plate, la grille
    de points tracés sur une carte dans l'espace rectiligne euclidien, dans une grille cartésienne,
    disposés en une totalité intégrable dans un tout. </p>
<p>Il emprunte la notion de courbure espace-temps à la Relativité Générale. Telle qu'élaborée par
    Einstein, Poincaré et Minkowski, la relativité générale explique comment les masses, composées
    de masse et d'énergie, courbent l'espace, le temps et la lumière. L’illustration la plus simple
    est la façon dont la masse courbe l’espace. Si vous placez une balle lourde au milieu d’une
    feuille, elle pliera la feuille autour d’elle. Ce faisant, il crée des voies de moindre énergie
    autour de lui. De la même manière, la massivité du Soleil courbe l'espace qui l'entoure de telle
    sorte que les planètes trouvent le chemin le moins actif sous forme de chemins elliptiques
    autour de lui.</p>
<p>Nous pouvons observer une dynamique similaire dans l'utilisation par Levinas de l'idée de «
    courbure » affectée par la taille et le poids.</p>
<p>Dans « Le Temps et l'Autre », Levinas décrit l'instauration d'un lieu, le <em>Da</em> du
    <em>Dasein</em>,
    pour une personne à travers le double mouvement de l'hypostase. C'est un dédoublement du Moi et
    du Soi. C'est aussi un dédoublement dimensionnel : pour maintenir une position dans l'espace,
    pour s'ériger en homo erectus, en homme viril en érection, on se dresse dans l'espace, en
    s'étendant en hauteur. En même temps, ce mouvement vers le haut est doublé d'un mouvement vers
    le bas, le poids qui se ramène vers le corps, une gravité produite par sa propre masse
    matérielle.</p>
