<p
        class="card-text">Cartographier les relations au sein et entre les multiples dimensions des
    variétés topologiques qui décrivent le transformations tensorielles thématiques au sein et entre
    divers genrees thématiques (GT). Les relations seront retracées par détermination d'une projection
    plate, double et par 2x2 conversions perspectives et conversationnelles, et par en considérant
    comment divers genrees étymologiques et sémantiques sont transformés en diverses formes de mots.</p>