<p>Certains dédoublements s'opposent les uns aux autres</p>
<p>Totalité et Infini raconte les cycles récurrents de ces doubles. Différent
    des sections du livre s'inversent ou se plient
    ces doubles relations. Dans une section, le Soi occupe une place de hauteur
    au fond de l’autre démuni. Dans une autre rubrique,
    l'Autre occupe une place de hauteur regardant le sujet moi en hypostase
    et substitution. D'autres sections appliquent d'autres tenseurs de courbure métaphoriques
    pour déformer davantage l'espace.</p>
<h5>Exemples</h5>
<ul class="list-genre">
    <li class="list-genre-item"><a href="/word/absence">absence</a> - <a
            href="/word/presence">présence</a></li>
    <li class="list-genre-item"><a href="/word/visage">visage</a> - <a
            href="/word/face">visage</a></li>
    <li class="list-genre-item"><a href="/word/totalite">totalité</a> - <a
            href="/word/infini">infini</a></li>
    <li class="list-genre-item"><a href="/word/meme">idem</a> - <a href="/word/other">autre</a>
    </li>
</ul>
