<p>Certaines <a href="https://encyclopediaofmath.org/wiki/Manifold">variétés</a>
    avoir
    <a href="https://encyclopediaofmath.org/wiki/Homology_manifold">homologue </a> <a
            href="https://encyclopediaofmath.org/wiki/Topology,_general"> topologies</a> et
    leurs transformations <a
            href="https://encyclopediaofmath.org/wiki/Tensor_bundle">tensorelle</a>
    se produisent dans
    parallèle à
    les uns les autres
</p>
<p>Par exemple, lorsque Levinas parle de NIETZSCHE_PT, il invoque généralement des
    métaphores telles
    que
    <em>naissance</em> de GENESIS. Lorsque Levinas parle de HEIDEGGER_PT, il invoque
    généralement
    métaphores
    de la <em>décès</em> de GENESIS.</p>
