<nav class=" navbar navbar-expand-sm navbar-light bg-light justify-content-end mb-20">
    <ul class="navbar-nav align-items-baseline">
        <!-- Split Button -->
        <div class="border border-dark-subtle">
            <div class="btn-group">
                <button class="btn btn-light ">
                    <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                        data-bs-original-title="">
                        <a class="nav-link " href="/summary">Project Summary</a>
                    </li>
                </button>
                <button class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="justify-content-end align-content-end">
                    <ul class="dropdown-menu">
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#objective">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#abstract">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#ambisexuality">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#home_and_position">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#womb">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#hostage">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#two_dimensional">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#flat">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#three">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="">
                            <a class="nav-link bg-dark text-white" href="#discussion">SUBTOODLE</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Split Button -->
        <div class="border border-dark-subtle">
            <div class="btn-group">
                <button class="btn btn-light ">
                    <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                        data-bs-original-title="">
                        <a class="nav-link " href="/genre_theory">Title</a>
                    </li>
                </button>
                <button class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="justify-content-end align-content-end">
                    <ul class="dropdown-menu">
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#genre_set_intro">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#membership">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#constellation">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#combination">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#repetition">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#opposition">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#intersection">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#parallelism">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#curvature">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#flat">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#two_dimensional">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#curvature">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#numbers">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#plus_one">The Good of the “Plus One”:
                                Extension curved by the Vertical</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#perspectivism">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#zero">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#one">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#duality">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#three">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#four">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#alembert">SUBTOODLE</a></li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#brunschvig">SUBTOODLE</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
            data-bs-original-title="">
            <a class="nav-link " href="/mots">Title</a>
        </li>
        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
            data-bs-original-title="">
            <a class="nav-link " href="/genres">Title</a>
        </li>
        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
            data-bs-original-title="">
            <a class="nav-link " href="/technical">Title</a>
        </li>
    </ul>
</nav>