<nav class=" navbar navbar-expand-sm navbar-light bg-light justify-content-end mb-20">
    <ul class="navbar-nav align-items-baseline">
        <!-- Split Button -->
        <div class="border border-dark-subtle">
            <div class="btn-group">
                <button class="btn btn-light ">
                    <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                        data-bs-original-title="A discussion of the Radical Empiricism Project, in which the advantages of a multidimensional tensor analysis of metaphorical manifolds is dimensionaland the errors of unidimensional assertions of rank are critiqued">
                        <a class="nav-link " href="/summary">Project Summary</a>
                    </li>
                </button>
                <button class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="justify-content-end align-content-end">
                    <ul class="dropdown-menu">
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Objective">
                            <a class="nav-link bg-dark text-white" href="#objective">Objective</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Abstract">
                            <a class="nav-link bg-dark text-white" href="#abstract">Abstract</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Ambiguity and ambisexuality">
                            <a class="nav-link bg-dark text-white" href="#ambisexuality">Ambiguity and ambisexuality</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Home and Position">
                            <a class="nav-link bg-dark text-white" href="#home_and_position">Home and Position</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="The nourishing womb">
                            <a class="nav-link bg-dark text-white" href="#womb">The nourishing womb</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Host and Hostage">
                            <a class="nav-link bg-dark text-white" href="#hostage">Host and Hostage</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Two-Dimensional Polar Relations and Two-by-Two Matrices">
                            <a class="nav-link bg-dark text-white" href="#two_dimensional">Two-Dimensional Polar
                                Relations and Two-by-Two Matrices</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="The flat space of totality">
                            <a class="nav-link bg-dark text-white" href="#flat">The flat space of totality</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Three-Dimensional Analysis">
                            <a class="nav-link bg-dark text-white" href="#three">Three-Dimensional Analysis</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                            data-bs-original-title="Discussion">
                            <a class="nav-link bg-dark text-white" href="#discussion">Discussion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Split Button -->
        <div class="border border-dark-subtle">
            <div class="btn-group">
                <button class="btn btn-light ">
                    <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
                        data-bs-original-title="This page features many discussion: (1) An Introduction to Genre Sets, (2) An example analysis of a sentence from Totality and Infinity as a constellation of Genre Sets, (3) Genre Set Membership Rules [suffixes, prefixes, etymological roots, infinities, other morphemic roots, semantic themes], (4)Internal and External Relations [duality, combination, repetition, opposition, intersection], (5) Non-Euclidean Relations [parallelism, flat, two_dimensional, constellation, curvature ], (5) Other mathematical and scientific topics [addition, positive, negative, 0, 1, 2, 3, 4, infinity, set theory, continuity and infinitesimals, topology, Mikowski/Einstein space-time, wave and quantum theory  ] (6) Perspectivism [perversion, inversion, subversion, reversion] (7) Reading Totality and Infinity as Genesis and Otherwise than Being as Exodus">
                        <a class="nav-link " href="/genre_theory">Theory of Genre Sets</a>
                    </li>
                </button>
                <button class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="justify-content-end align-content-end">
                    <ul class="dropdown-menu">
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#genre_set_intro">Introduction to Genre
                                Sets</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#membership">Group Set Membership</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#constellation">A Constellational Analysis of a
                                Metaphorically Kallidescopic Sentence</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#combination">Combination</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#repetition">Repetition of the same word in
                                different context</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#opposition">Opposition</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#intersection">Intersection</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#parallelism">Parallelism</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#curvature">Curvature</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#flat">Flat</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#two_dimensional">Two Dimensional</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#curvature">Curvature</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#numbers">Numbers</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#plus_one">The Good of the “Plus One”:
                                Extension curved by the Vertical</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#perspectivism">Perspectivism</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#zero">Zero</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#one">One</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#duality">Duality</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#three">Three</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#four">Four</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#alembert">Quotations from d'Alembert</a>
                        </li>
                        <li data-toggle="tooltip" data-popper-placement="right" title="" class="nav-item">
                            <a class="nav-link bg-dark text-white" href="#brunschvig">Quotations from Léon
                                Brunschvicg</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
            data-bs-original-title="A list of all 16000 words in both Totality and Otherwise. Links to information pages about each word, including definitions and etymologies in English and French, as well as frequencies and lines from both texts">
            <a class="nav-link " href="/mots">Word list</a>
        </li>
        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
            data-bs-original-title="A list of Genre Sets.">
            <a class="nav-link " href="/genres">List of Genre Sets</a>
        </li>
        <li data-toggle="tooltip" data-popper-placement="right" class="nav-item"
            data-bs-original-title="Contact information, sources, current project status and future direction">
            <a class="nav-link " href="/technical">Technical notes</a>
        </li>
    </ul>
</nav>