<!-- Split Button -->
<div class="border border-dark-subtle">
    <div class="btn-group">
        <button class="btn btn-light ">{% nav_bar_item item %}</button>
        <button
                class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
        >
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <div class="justify-content-end align-content-end">
            <ul class="dropdown-menu">
                {% for subitem in item.subitems %}
                    {% nav_bar_item subitem "bg-dark text-white" %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
