{% load i18n %}
<nav class="navbar navbar-expand-sm navbar-light bg-light border-black border-top border-bottom mb-4">
    <div class="container">
        <a href="/summary" class="navbar-brand">{% trans "Summary" %}</a>
        <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="navbar-toggler"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-baseline">
                {% for item in nav_items %}
                    {% if item.subitems %}
                        <!-- Split Button -->
                        <li class="nav-item mx-3 dropdown border border-dark-subtle {% active_check request item.route %}">
                            <div class="btn-group">
                                <button class="btn btn-light ">
                                    <!-- NAV_BAR_ITEM -->
                                    <a class="nav-link {{ classes }}"
                                       href="/{{ item.route }}">{% trans item.title %}</a>
                                    <!-- END NAV_BAR_ITEM -->
                                </button>
                                <button
                                        class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown"
                                >
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <!-- End Split Button -->

                                <ul class="dropdown-menu">
                                    {% for subitem in item.subitems %}
                                        {% if subitem.sub_sub_items %}
                                            <li>
                                                <a class="dropdown-item"
                                                   href="/{{ item.route }}/#{{ subitem.route }}">{% trans subitem.title %}</a>
                                                <ul class="submenu dropdown-menu">
                                                    {% for sub_sub in subitem.sub_sub_items %}
                                                        <li><a class="dropdown-item"
                                                               href="/{{ item.route }}/#{{ sub_sub.route }}">{% trans sub_sub.title %}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a class="dropdown-item"
                                                   href="/{{ item.route }}/#{{ subitem.route }}"> {% trans subitem.title %} </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <!-- End Many Items -->
                    {% else %}
                        <li data-toggle="tooltip" data-popper-placement="right" 
                            title="{% trans item.explanation %}"
                            class="nav-item mx-2 {% active_check request item.route %}">
                            <a class="nav-link {{ classes }}" href="/{{ item.route }}">{% trans item.title %}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
