{% load i18n %}

<div id="accordion-page-toc" class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                    class="accordion-button m-4"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-page-toc"
            >
                <span class="toc-button"> {% trans "Table of Contents" %}</span>
            </button>
        </h2>
        <div
                id="collapse-page-toc"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordion-page-toc"
        >
                <div class="card english" id="page-toc">
                    <div class="card-body">
                        <ul>
                            {% for item in toc_sections %}
                                <li>
                                    <a href="#{{ item.route }}">{% trans item.title %}</a>
                                    {% if item.explanation %}
                                        : {% trans item.explanation %}
                                    {% endif %}
                                    {% if item.sub_sub_items %}
                                        <ul>
                                        {% for sub_sub in item.sub_sub_items %}
                                            <li>
                                                <a href="#{{ sub_sub.route }}">{% trans sub_sub.title %}</a>
                                                {% if sub_sub.explanation %}
                                                    : {% trans sub_sub.explanation %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
