{% load i18n %}

<div id="accordion-page-toc" class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                    class="accordion-button m-4"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-page-toc"
            >
                <span class="toc-button"> {% trans "Table of Contents for" %} {{ page_title }} {% trans "Page" %}</span>
            </button>
        </h2>
        <div
                id="collapse-page-toc"
                class="accordion-collapse collapse"
                data-bs-parent="#accordion-page-toc"
        >
            <div class="english">
                <div class="card english" id="page-toc">
                    <div class="card-body">
                        <ul>
                            {% for item in toc_sections %}
                                <li>
                                    <a href="#{{ item.route }}">{% trans item.title %}</a>: {% trans item.explanation %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
