{% extends "base_page.html" %}
<a id="toc"></a>
{% block content %}
    {% page_toc page_title toc_sections %}
    {% for section in toc_sections %}
        {{ section }}
        {% if section.sub_sub_items %}
            {% content_card section.route %}
            {% for sub_sub in section.sub_sub_items %}
                {% content_card sub_sub.route %}
            {% endfor %}
        {% else %}
            {% content_card section.route %}
        {% endif %}
    {% endfor %}
{% endblock %}
