{% extends "base_page.html" %}
<a id="toc"></a>
{% block content %}
    {% page_toc page_title toc_sections %}
    {% content_card "genre_set_intro" %}
    {% content_card "membership" %}
    {% content_card "constellation" %}
    {% content_card "abstract" %}
    {% content_card "duality" %}
    {% content_card "combination" %}
    {% content_card "repetition" %}
    {% content_card "opposition" %}
    {% content_card "intersection" %}
    {% content_card "parallelism" %}
    {% content_card "flat" %}
    {% content_card "two_dimensional" %}
    {% content_card "curvature" %}
    {% content_card "numbers" %}
    {% content_card "addition" %}
    {% content_card "perspectivism" %}
    {% content_card "zero" %}
    {% content_card "one" %}
    {% content_card "three" %}
    {% content_card "four" %}
{% endblock %}
