{% extends "base_page.html" %}
{% block subtitle %} | Liste de genrees thematiques{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Infinitives and Racines étymologiques | Infinitives and Etymological
                        roots</h4>
                    <p class="card-text">
                        In his 1932 article that introduced Heidegger to the
                        francophone world,
                        Martin Heidegger et
                        l’ontologie, Levinas explains his decision to translate Heidegger’s term
                        Zuhandenheit as
                        'maniabilite' because
                        he wishes to “take this term in its etymological sense”35
                    </p>
                    <p class="card-text">
                        In his later works critical of Heidegger, he will critique the notion of the hand as being the
                        primary mode through which relation with the world is effectuated. Instead, he makes a twofold
                        division.
                        The primary mode of relation with the world is through the mouth.
                    </p>
                    <p class="card-text">
                        He secondary relationhip to the world as exterioirty is explored through the hand in the sense
                        of maintenir, to maintain.
                        Words with the same infinitive and the same etymological roots belong to the same Thematic Genre
                    </p>
                    {% for name, words in genres.items %}
                        {% if name == "TENIR" %}
                            <div>
                                {% genre_btn words|length|stringformat:'i'|add:"@"|add:name %}
                                <div class="collapse" id="collapse-{{ name }}">
                                    <div class="card card-body">
                                        <div class=" d-flex flex-wrap">
                                            {% for word in words %}
                                                {% word_btn word %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thèmes sémantiques | Semantic themes</h4>
                <p class="card-text"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Préfixes | Prefixes</h4>
            <p class="card-text"></div>
    </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Suffixes | Suffixes</h4>
            <p class="card-text"></div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Parties du discours | Parts of speech</h4>
            <p class="card-text"></div>
    </div>

    {% for name, words in genres.items %}
        <div>
            {% genre_btn words|length|stringformat:'i'|add:"@"|add:name %}
            <div class="collapse" id="collapse-{{ name }}">
                <div class="card card-body  d-flex flex-wrap">
                    {% for word in words %}
                        {% word_btn word %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}