{% extends "base_page.html" %}
{% block subtitle %}Groupes Thématiques{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thèmes sémantiques | Semantic themes</h4>
                    <div class="card-text"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Racines étymologiques | Etymological roots</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Préfixes | Prefixes</h4>
                    <div class="card-text"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Suffixes | Suffixes</h4>
                    <div class="card-text"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Parties du discours | Parts of speech</h4>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Groupes Thématiques | Thematic groups(GT) </h4>
            <div class="groupe-thematique">
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">APPEARANCE_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/presence">présence</a>
                            <a class="btn btn-light" target="_blank" href="/word/absence">absence</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/lumiere">lumière</a>
                            <a class="btn btn-light" target="_blank" href="/word/obscur">obscur</a>
                            <a class="btn btn-light" target="_blank" href="/word/vision">vision</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">GENESIS_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/genesis">genesis</a>
                            <a class="btn btn-light" target="_blank" href="/word/origine">origine</a>
                            <a class="btn btn-light" target="_blank" href="/word/mort">mort </a>
                            <a class="btn btn-light" target="_blank" href="/word/resurrection">résurrection </a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/recurrence">recurrence </a>
                            <a class="btn btn-light" target="_blank" href="/word/naissance">naissance </a>
                            <a class="btn btn-light" target="_blank" href="/word/survivant">survivant </a>
                            <a class="btn btn-light" target="_blank" href="/word/surgit">surgit </a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/pere">père</a>
                            <a class="btn btn-light" target="_blank" href="/word/mere">mère</a>
                            <a class="btn btn-light" target="_blank" href="/word/fils">fils</a>
                            <a class="btn btn-light" target="_blank" href="/word/frere">frere</a>
                            <a class="btn btn-light" target="_blank" href="/word/sœur">sœur</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/virilite">virilite</a>
                            <a class="btn btn-light" target="_blank" href="/word/feminin">féminin</a>
                            <a class="btn btn-light" target="_blank" href="/word/maternelle">maternelle</a>
                            <a class="btn btn-light" target="_blank" href="/word/matiere">matière</a>
                            <a class="btn btn-light" target="_blank" href="/word/nourrit">nourrit</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/neutre">neutre</a>
                            <a class="btn btn-light" target="_blank" href="/word/genre">genre</a>
                            <a class="btn btn-light" target="_blank" href="/word/engendrer">engendrer</a>
                            <a class="btn btn-light" target="_blank" href="/word/generation">génération</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">APPEARANCE_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/vision">vision</a>
                            <a class="btn btn-light" target="_blank" href="/word/visage">visage</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/face">face</a>
                            <a class="btn btn-light" target="_blank" href="/word/facade">façade</a>
                            <a class="btn btn-light" target="_blank" href="/word/surface">surface</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/tergiversation">tergiversation</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/masque">masque</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">ORALITY_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/parler">parler</a>
                            <a class="btn btn-light" target="_blank" href="/word/souffle">souffle</a>
                            <a class="btn btn-light" target="_blank" href="/word/rire">rire</a>
                            <a class="btn btn-light" target="_blank" href="/word/baiser">baiser</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/manger">manger</a>
                            <a class="btn btn-light" target="_blank" href="/word/remords">remords</a>
                            <a class="btn btn-light" target="_blank" href="/word/nourrit">nourrit</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">THEATER_GT</DIV>
                        <div class="list-group">
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/drame">drame</a>
                            <a class="btn btn-light" target="_blank" href="/word/acte">acte</a>
                            <a class="btn btn-light" target="_blank" href="/word/scene">scene</a>
                            <a class="btn btn-light" target="_blank" href="/word/masque">masque</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/tragique">tragique</a>
                            <a class="btn btn-light" target="_blank" href="/word/travail">travail</a>
                            <a class="btn btn-light" target="_blank" href="/word/œuvre">œuvre</a>
                            <a class="btn btn-light" target="_blank" href="/word/dechets">dechets</a>
                            <a class="btn btn-light" target="_blank" href="/word/absurde">absurde</a>
                            <a class="btn btn-light" target="_blank" href="/word/fatal">fatal</a>
                            <a class="btn btn-light" target="_blank" href="/word/faire">faire</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/comique">comique</a>
                            <a class="btn btn-light" target="_blank" href="/word/jouissance">jouissance</a>
                            <a class="btn btn-light" target="_blank" href="/word/rire">rire</a>
                            <a class="btn btn-light" target="_blank" href="/word/plaisir">plaisir</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/macbeth">MacBeth</a>
                            <a class="btn btn-light" target="_blank" href="/word/shakespeare">Shakespeare</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">MATHÉMATIQUES_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/zero">zero</a>
                            <a class="btn btn-light" target="_blank" href="/word/null">null</a>
                            <a class="btn btn-light" target="_blank" href="/word/une">une</a>
                            <a class="btn btn-light" target="_blank" href="/word/deuxieme">deuxieme</a>
                            <a class="btn btn-light" target="_blank" href="/word/tiers">tiers</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/unicite">unicite</a>
                            <a class="btn btn-light" target="_blank" href="/word/universalite">universalite</a>
                            <a class="btn btn-light" target="_blank" href="/word/individualite">individualite</a>
                            <a class="btn btn-light" target="_blank" href="/word/dualite">dualite</a>
                            <a class="btn btn-light" target="_blank" href="/word/multiplicite">multiplicite</a>
                            <a class="btn btn-light" target="_blank" href="/word/pluralisme">pluralisme</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/plus">plus</a>
                            <a class="btn btn-light" target="_blank" href="/word/negatif">négatif</a>
                            <a class="btn btn-light" target="_blank" href="/word/positif">positif</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/transitivite">transitivite</a>
                            <a class="btn btn-light" target="_blank" href="/word/asymetrie">asymétrie</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/transcendance">transcendance</a>
                            <a class="btn btn-light" target="_blank" href="/word/infini">infini</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/leibniz">Leibniz</a>
                            <a class="btn btn-light" target="_blank" href="/word/integration">intégration</a>
                            <a class="btn btn-light" target="_blank" href="/word/continu">continu</a>
                            <a class="btn btn-light" target="_blank" href="/word/discontinuite">discontinuite</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/nœud">nœud</a>
                            <a class="btn btn-light" target="_blank" href="/word/serie">serie </a>
                            <a class="btn btn-light" target="_blank" href="/word/proximite">proximite</a>
                            <a class="btn btn-light" target="_blank" href="/word/prochain">prochain</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label"> GÉOMÉTRIE_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/origine">origine</a>
                            <a class="btn btn-light" target="_blank" href="/word/point">point</a>
                            <a class="btn btn-light" target="_blank" href="/word/intervalle">intervalle</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/descartes">Descartes</a>
                            <a class="btn btn-light" target="_blank" href="/word/courbure">courbure</a>
                            <a class="btn btn-light" target="_blank" href="/word/parallelisme">parallelisme</a>
                            <a class="btn btn-light" target="_blank" href="/word/convexite">convexite</a>
                            <a class="btn btn-light" target="_blank" href="/word/concavite">concavite</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/dimension">dimension</a>
                            <a class="btn btn-light" target="_blank" href="/word/niveau">niveau</a>
                            <a class="btn btn-light" target="_blank" href="/word/hauteur">hauteur</a>
                            <a class="btn btn-light" target="_blank" href="/word/profondeur">profondeur</a>
                            <a class="btn btn-light" target="_blank" href="/word/droiture">droiture</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="groupe-thematique-label">PHYSIQUE_GT</DIV>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/substance">substance </a>
                            <a class="btn btn-light" target="_blank" href="/word/element">element </a>
                            <a class="btn btn-light" target="_blank" href="/word/pese">pese</a>
                            <a class="btn btn-light" target="_blank" href="/word/matiere">matière</a>
                            <a class="btn btn-light" target="_blank" href="/word/force">force</a>
                            <a class="btn btn-light" target="_blank" href="/word/gravite">gravité</a>
                            <a class="btn btn-light" target="_blank" href="/word/ondes">ondes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Groupes philosophiques | Philosophical groups</h4>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">ONTOLOGIE_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/ontologie">ontologie </a>
                        <a class="btn btn-light" target="_blank" href="/word/etre">etre </a>
                        <a class="btn btn-light" target="_blank" href="/word/etat">état </a>
                        <a class="btn btn-light" target="_blank" href="/word/autre">autre </a>
                        <a class="btn btn-light" target="_blank" href="/word/essence">essence </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">EPISTEMOLOGIE_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/epis">savoir </a>
                        <a class="btn btn-light" target="_blank" href="/word/doute">doute </a>
                        <a class="btn btn-light" target="_blank" href="/word/scepticisme">scepticisme </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">ETHIQUE_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/ethique">ethique </a>
                        <a class="btn btn-light" target="_blank" href="/word/bien">bien </a>
                        <a class="btn btn-light" target="_blank" href="/word/bonte">bonté </a>
                        <a class="btn btn-light" target="_blank" href="/word/mal">mal </a>
                        <a class="btn btn-light" target="_blank" href="/word/valeur">valeur </a>
                        <a class="btn btn-light" target="_blank" href="/word/devrait">devrait </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">PLATON_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/etre">être </a>
                        <a class="btn btn-light" target="_blank" href="/word/essence">essence </a>
                        <a class="btn btn-light" target="_blank" href="/word/verite">vérité </a>
                        <a class="btn btn-light" target="_blank" href="/word/dialogue">dialogue </a>
                        <a class="btn btn-light" target="_blank" href="/word/genese">genèse </a>
                        <a class="btn btn-light" target="_blank" href="/word/forme">forme </a>
                        <a class="btn btn-light" target="_blank" href="/word/matiere">matière </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">BERGSON_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/creation">création </a>
                        <a class="btn btn-light" target="_blank" href="/word/duree">durée </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">HEGEL_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/totalite">totalité </a>
                        <a class="btn btn-light" target="_blank" href="/word/etat">état </a>
                        <a class="btn btn-light" target="_blank" href="/word/autre">autre </a>
                        <a class="btn btn-light" target="_blank" href="/word/soi">soi </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">HUSSERL_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/apparence">apparence </a>
                        <a class="btn btn-light" target="_blank" href="/word/passivite">passivité </a>
                        <a class="btn btn-light" target="_blank" href="/word/activite">activité </a>
                        <a class="btn btn-light" target="_blank" href="/word/remplissement">remplissement </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">HEIDEGGER_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/ontologie">ontologie </a>
                        <a class="btn btn-light" target="_blank" href="/word/etre">être </a>
                        <a class="btn btn-light" target="_blank" href="/word/essence">essence </a>
                        <a class="btn btn-light" target="_blank" href="/word/existence">existence </a>
                        <a class="btn btn-light" target="_blank" href="/word/outil">outil </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">DESCARTES_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/idee">idée </a>
                        <a class="btn btn-light" target="_blank" href="/word/infini">infini </a>
                        <a class="btn btn-light" target="_blank" href="/word/scepticisme">scepticisme </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">LEIBNIZ_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/monade">monade </a>
                        <a class="btn btn-light" target="_blank" href="/word/integration">intégration </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="groupe-thematique-label">NIETZSCHE_GT</div>
                    <div class="list-group">
                        <a class="btn btn-light" target="_blank" href="/word/rire">rire </a>
                        <a class="btn btn-light" target="_blank" href="/word/au-dela">au-delà </a>
                        <a class="btn btn-light" target="_blank" href="/word/recurrence">recurrence </a>
                        <a class="btn btn-light" target="_blank" href="/word/naissance">naissance </a>
                        <a class="btn btn-light" target="_blank" href="/word/scepticisme">scepticisme </a>
                        <a class="btn btn-light" target="_blank" href="/word/absurde">absurde </a>
                        <a class="btn btn-light" target="_blank" href="/word/sorcieres">sorcières </a>
                        <a class="btn btn-light" target="_blank" href="/word/lascivite">lascivite </a>
                        <a class="btn btn-light" target="_blank" href="/word/jouir">jouir </a>
                        <a class="btn btn-light" target="_blank" href="/word/gratuite">gratuite </a>
                        <a class="btn btn-light" target="_blank" href="/word/jouissance">jouissance </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}