{% extends "base_page.html" %}
{% block subtitle %} | Liste de groupes thematiques{% endblock %}
{% block content %}
    {% for name, words in groups.items %}
        <div>
            {% group_btn words|length|stringformat:'i'|add:"@"|add:name %}
            <div class="collapse" id="collapse-{{ name }}">
                <div class="card card-body  d-flex flex-wrap">
                    {% for word in words %}
                        {% word_btn word %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}