{% extends "base_page.html" %}
{% block subtitle %}Résumé du projet{% endblock %}
{% block content %}
    For example
    <ul>
        <li>Suffix: In {{ titles.otb.short.english }} suffix "ance" denotes nominalization whereas the infinitive is
            both nominal and verbal. All words with this suffix belong to ONTOLOGY
        </li>
        <li>Prefix: The prefix "sur" means above and connotes height. All words that begin with this prefix belong to
            MATHEMATICS. For example: <a href="/word/survivor">"survivor"</a> or <a href="/word/resurrection">"resurrection"</a>
    </ul>
    Prefixes, suffixes, prepositions, etymological roots, and verbal, nominal, adjectival and adverbial combinations all
    belong to various THEMATIC_GENRES.  This enables a single word to envelop an N-ply manifold of THEMATIC_GENRES.

    conjugations, noun declensions, and etymological roots all are Combinations (survivre = sur (height) + vivre (Family
    Genre)

    conjugations, noun declensions, and etymological roots all are Combinations (survivre = sur (height) + vivre
    (Family Genre)

{% endblock %}
