{% extends "base_page.html" %}
{% block content %}
    {% include 'tags/bilingual_card.html' with component="doubling" %}
    {% include 'tags/bilingual_card.html' with component="combination" %}
    {% include 'tags/bilingual_card.html' with component="parallelism" %}
    {% include 'tags/bilingual_card.html' with component="intersection" %}
    {% include 'tags/bilingual_card.html' with component="flat" %}
    {% include 'tags/bilingual_card.html' with component="two_dimensional" %}
{% endblock %}
