{% extends "base_page.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Objectif | Objective </h4>
            <nav>
                <div class="nav nav-pills" id="objective-tab" role="tablist">
                    <button class="nav-link active" id="french-objective-tab" data-bs-toggle="tab"
                            data-bs-target="#french-objective"
                            type="button" role="tab" aria-controls="nav-counts" aria-selected="true">
                        Français
                    </button>
                    <button class="nav-link" id="english-objective-tab" data-bs-toggle="tab"
                            data-bs-target="#english-objective"
                            type="button" role="tab" aria-controls="nav-counts" aria-selected="true">
                        English
                    </button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="french-objective" role="tabpanel"
                     aria-labelledby="nav-counts-tab"><p
                        class="card-text">Cartographier les relations au sein et entre les multiples dimensions des
                    variétés topologiques qui décrivent le transformations tensorielles thématiques au sein et entre
                    divers groupes thématiques (GT). Les relations seront retracées par détermination d'une projection
                    plate, double et par 2x2 conversions perspectives et conversationnelles, et par en considérant
                    comment divers groupes étymologiques et sémantiques sont transformés en diverses formes de mots.</p>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="english-objective" role="tabpanel" aria-labelledby="nav-counts-tab"><p
                        class="card-text"> To map the relations within and between multiple dimensions of topological
                    manifolds that describe the thematic tensor transformations within and between various Thematic
                    Groups (GT). Relations will be traced by detemining a flat projections, doubles and by 2x2
                    perspecitval and conversational conversions, and by considering how various etymological and
                    semantic groups are transformed into various word forms. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Résumé | Abstract </h4>
            Great work has been done to compare the structures of his relation to other philosophers such as Heidegger
            We observe various patterns when we do so. of transformations of language throughouts
            observe this attention to linguistic morphology by tracing the transformations of
            metaphorics throughout his work.
            Already in his earliest published works, Levinas displays extraordinary attention to linguistic morphemes
            and
            their
            metaphorical dimensions. In his 1932
            article that introduced Heidegger to the francophone world, Martin Heidegger et
            l’ontologie, Levinas explains his decision to translate Heidegger’s term Zuhandenheit as maniabilite because
            he
            wishes to “take this term in its etymological sense”35,
            preserving the root’s reference to the hand. In a conversation shortly after the
            end of the second world war, Levinas explicitly reflects upon the importance of
            morphemes in Heidegger’s thought, explaining that what Heidegger’s linguistic
            constructions Being-in-the-world, Being-towards-death, and Being-with add to our
            philosophical awareness “is that these prepositions ‘in’, ‘for’, and ‘with’ are in the
            root of the verb ‘to be’ (as ‘ex’ is in the root of the verb ‘to exist’)”.36 We should
            therefore assume that Levinas thinks deliberately about all aspects of language: of
            roots, prefixes, and suffixes; of the nominal, verbal, prepositional, adjectival, and
            adverbial parts of speech; of the active, middle, and passive voices; of the nominative, vocative, dative,
            genitive,
            ablative, accusative and even locative cases.

            Emmanuel Levinas is an author who pas special attention to the
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Groupes Thématiques (GT) </h4>
            <h5 class="card-title"> Thematic Categories are Organized into Groups</h5>
            <div class="groupe-thematique">
                <div class="list-group-item  bg-dark text-white">Metaphorical relations</div>
                <div class="card">
                    <div class="card-body ">Philosophical Interlocutors
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/platon">Platon
                                |
                                Plato</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/bergson">Bergson</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/hegel">Hegel</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/husserl">Husserl</a>
                            <a class="btn btn-light" target="_blank" href="/word/kierkegaard">Kierkegaard</a>
                            <a class="btn btn-light" target="_blank" href="/word/heidegger">Heidegger</a>
                            <a class="btn btn-light" target="_blank" href="/word/descartes">Descartes</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/leibniz">Leibniz</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body ">Appearance
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank"
                               href="/word/presence">présence</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/absence">absence</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>


                            <a class="btn btn-light" target="_blank"
                               href="/word/lumiere">lumière</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/obscur">obscur</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/vision">vision</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body ">Genesis
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/pere">père</a>
                            <a class="btn btn-light" target="_blank" href="/word/mere">mère</a>
                            <a class="btn btn-light" target="_blank" href="/word/fils">fils</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/frere">frere</a>
                            <a class="btn btn-light" target="_blank" href="/word/sœur">sœur</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>

                            <a class="btn btn-light" target="_blank"
                               href="/word/virilite">virilite</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/feminin">féminin</a>
                            <a class="btn btn-light" target="_blank" href="/word/maternelle">maternelle</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/matiere">matière</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/nourrit">nourrit</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>


                            <a class="btn btn-light" target="_blank"
                               href="/word/neutre">neutre</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/genre">genre</a>
                            <a class="btn btn-light" target="_blank" href="/word/engendrer">engendrer</a>
                            <a class="btn btn-light" target="_blank" href="/word/generation">génération</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/genesis">genesis</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/origine">origine</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">Appearance
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank"
                               href="/word/vision">vision</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/visage">visage</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/face">face</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/facade">façade</a>
                            <a class="btn btn-light" target="_blank" href="/word/surface">surface</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/tergiversation">tergiversation</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/masque">masque</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">Orality
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank"
                               href="/word/parler">parler</a>
                            <a class="btn btn-light" target="_blank" href="/word/souffle">souffle</a>
                            <a class="btn btn-light" target="_blank" href="/word/rire">rire</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/baiser">baiser</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>


                            <a class="btn btn-light" target="_blank"
                               href="/word/manger">manger</a>
                            <a class="btn btn-light" target="_blank" href="/word/remords">remords</a>
                            <a class="btn btn-light" target="_blank" href="/word/nourrit">nourrit</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">Theater
                        <div class="list-group">
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/drame">drame</a>
                            <a class="btn btn-light" target="_blank" href="/word/acte">acte</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/scene">scene</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/masque">masque</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/tragique">tragique</a>
                            <a class="btn btn-light" target="_blank" href="/word/travail">travail</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/œuvre">œuvre</a>
                            <a class="btn btn-light" target="_blank" href="/word/dechets">dechets</a>
                            <a class="btn btn-light" target="_blank" href="/word/absurde">absurde</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/fatal">fatal</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/faire">faire</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/comique">comique</a>
                            <a class="btn btn-light" target="_blank" href="/word/jouissance">jouissance</a>
                            <a class="btn btn-light" target="_blank" href="/word/rire">rire</a>
                            <a class="btn btn-light" target="_blank" href="/word/plaisir">plaisir</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/macbeth">MacBeth</a>
                            <a class="btn btn-light" target="_blank" href="/word/shakespeare">Shakespeare</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>Mathématiques | Mathematics</h5>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank"
                               href="/word/une">une</a>
                            <a class="btn btn-light" target="_blank" href="/word/deuxieme">deuxieme</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/tiers">tiers</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/plus">plus</a>
                            <a class="btn btn-light" target="_blank" href="/word/negatif">négatif</a>
                            <a class="btn btn-light" target="_blank" href="/word/positif">positif</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/transitivite">transitivite</a>

                            <a class="btn btn-light" target="_blank"
                               href="/word/asymetrie">asymétrie</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>

                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/transcendance">transcendance</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/infini">infini</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank" href="/word/leibniz">Leibniz</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/integration">intégration</a>
                            <a class="btn btn-light" target="_blank" href="/word/continu">continu</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/discontinuite">discontinuite</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/nœud">nœud</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/serie">serie </a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/proximite">proximite</a>
                            <a class="btn btn-light" target="_blank" href="/word/prochain">prochain</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5> Géométrie analytique | Analytic geometry</h5>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank" href="/word/origine">origine</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/point">point</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/intervalle">intervalle</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/descartes">Descartes</a>
                            <a class="btn btn-light" target="_blank" href="/word/courbure">courbure</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/parallelisme">parallelisme</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/convexite">convexite</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/concavite">concavite</a>
                            <div class="bg-secondary border-100 padding-10 border-top border-secondary-subtle"></div>
                            <a class="btn btn-light" target="_blank"
                               href="/word/dimension">dimension</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/niveau">niveau</a>
                            <a class="btn btn-light" target="_blank" href="/word/hauteur">hauteur</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/profondeur">profondeur</a>
                            <a class="btn btn-light" target="_blank" href="/word/droiture">droiture</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5>La physique | Physics</h5>
                        <div class="list-group">
                            <a class="btn btn-light" target="_blank"
                               href="/word/substance">substance </a>
                            <a class="btn btn-light" target="_blank" href="/word/element">element </a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/pese">pese</a>
                            <a class="btn btn-light" target="_blank" href="/word/matiere">matière</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/force">force</a>
                            <a class="btn btn-light" target="_blank" href="/word/gravite">gravité</a>
                            <a class="btn btn-light" target="_blank"
                               href="/word/ondes">ondes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="list-group-item ">Many of these groups are topologically homologous to each other and
                can be mapped onto each
                other.
                For
                example,
                the relations within the Appearance_Group can be correlated to the Faciality_Group. The
                formula for
                transfomation is being investigated by this research
            </div>
        </div>
    </div>
    metaphor
    <div class="card">
        <div class="card-body">
            <div class="list-group-item ">Relations within Groups
                <div class="list-group ">Homology</div>
                <div class="list-group ">
                    <div class="list-group-item ">Opposition

                        <div class="list-group">
                            absence - presence, visage - face, totality - infinity, same - other,
                        </div>
                    </div>
                    <div class="list-group-item ">Flat Projection</div>
                    <div class="list-group-item ">Two-Dimensional Curvature Tensors
                        <div class="list-group ">
                            Self is High, Other is Low
                            <div class="list-group">
                                destitute,
                            </div>
                            Self is Low, Other is High
                            <div class="list-group">
                                height,
                            </div>
                            Other is Low, Self is High
                            <div class="list-group">
                                survivor, resurrection,
                            </div>
                            Other is High, Self is Low
                            Flat projection of curvature
                        </div>

                        The first perspective is an inversion of this subjective point of view, in which
                        I gaze upwards at the Other. The perspective is the most noticeable one in Totality
                        and
                        Infinity,
                        articulated in Levinas’s description of the visage as revealed
                        “in the dimension of height”86 and in the motif of transcendence that animates
                        much of the text. Levinas’s usage of the superlative adverb most and suffix –est is
                        77 Levinas: Totality…, op. cit., p. 36. 78 Ibid., p. 39. 79 Ibid., p. 141. 80 Ibid.,
                        p. 147.
                        81
                        Ibid., p. 158. 82 Ibid., p. 192. 83 Ibid., p. 156. 84 Ibid., p. 297. 85 Ibid., p.
                        199. 86
                        Ibid.,
                        p.
                        77.
                        159
                        determined by this perspective as are his employment of prefixes such as ex– and
                        sur– to describe, for example, how the other person exceeds or surpasses as an
                        “absolute surplus”.87 The Other’s height is articulated through correlate attributes
                        such as mastery, which is manifested in a variety of ways, for example as the one
                        who commands “you shall not commit murder”88 and who teaches the lesson of
                        his exteriority to consciousness.89 This mastery can also exhibit malevolence as the
                        “transcendence of the antagonist”90 who threatens me with death that “comes from
                        the other as a tyranny”.91
                        The second perspective, perversion, occurs when I look downwards at the
                        other person from my relative height, such as when I perceive the “defenseless
                        eyes”92 of the other emanating from a depth. This perspective is similarly indicated
                        whenever I
                        regard the other person in an embodied materiality, in misery
                        and destitution, as naked and hungry.93 From my height, I perceive this material
                        poverty as an “appeal to my powers”94, appealing to my sovereign subjectivity to
                        provide material assistance.
                        The third perspective, subversion, occurs when the other person views the
                        self in its lowness. The dynamic of being-underneath can already be understood
                        in the terms “subjectivity” and “hypostasis”, which etymologically connote being
                        thrown-under and standing-under. Within Totality and Infinity, Levinas mentions
                        this aspect when he describes the nascent self relating to the environmental element
                        as “a
                        wave
                        that
                        engulfs and submerges and drowns”.95 Levinas intensifies this
                        analysis in Otherwise than Being by applying to subjectivity vivid metaphors of
                        material poverty; for example, as a “denuding beyond the skin, to the wounds one
                        dies from, denuding to death, being as a vulnerability”.96
                        The fourth perspective, reversion, occurs when the self is viewed in its height.
                        From the viewpoint of the Other, the self-assertion of subjective mastery comes
                        under
                        judgment
                        such
                        that it manifests as “the imperialism of the same”.97 This external
                        87 Ibid., p. 97. 88 Ibid., p. 199. 89 Ibid., p. 204. 90 Ibid., p. 222. 91 Ibid., p.
                        239. 92
                        Ibid.,
                        p. 199. 93 Ibid., p. 75. 94 Ibid., p. 213. 95 Ibid., p. 135. 96 Levinas: Otherwise…,
                        op.
                        cit.,
                        p.
                        49. “Denuding” is the same motif Levinas ascribes to the visage in
                        Totality and Infinity, “La nudité du visage est dénûment.”, which Lingis translates
                        as “The
                        nakedness
                        of the face is destituteness.” Levinas: Totality…, op. cit., p. 75. 97 Levinas:
                        Totality…,
                        op.
                        cit.,
                        p. 38.
                        160
                        perspective demonstrates that the first-person of subjectivity is already secondary
                        and that the birth of the subject is already a rebirth. For this reason, the
                        dynamics of
                        subject-formation often appear through the prefix re, as repetitions and returnings,
                        the “reversion”98 of interiority that “reabsorbs”99 the alterity of the world in a
                        present
                        of
                        representation through the remembrance of memory100, an achievement of
                        subjectivity expressed as “recurrence”101 within Otherwise than Bei
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item ">Relations between Groups
            <div class="list-group ">
                <div class="list-group-item ">Polysemantic Intersection
                    For example ORIGIN
                    <div class="list-group">
                        birth, family, mathemathematics,
                    </div>

                    <div class="list-group">
                        absence - presence, visage - face, totality - infinity, same - other,
                    </div>
                </div>
                <div class="list-group-item ">Combinations (survivre = sur (height) + vivre (Family
                    Group)
                </div>
                <div class="list-group-item ">Constellational Proximities
                    Certain ThematicGroups occur within
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="list-group-item ">Constellational Sentences
                La naissance et la mort comme moments ponctuels et l’intervalle qui les sépare, se logent
                dans ce
                temps
                universel de l’historien qui est un survivan
            </div>
            crossing forms : height and the prefix sur, depth and the prefix sub
            crossing forms: suffixes verb conjugations, adverb to noun to verb etc
        </div>
    </div>
{% endblock %}