{% extends "base_page.html" %}
{% block subtitle %}Notes techniques{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> Notes techniques | Technical notes </h2>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Auteur | Author </h4>
                    <p class="card-text"> Mitchell Verter
                    </p></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Email </h4>
                    <a href="mailto:vertm098@newschool.edu">mailto:vertm098@newschool.edu</a>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Github </h4>
                    <a href="https://github.com/mcverter/EthicalPataphysicsOfAnarchism">https://github.com/mcverter/EthicalPataphysicsOfAnarchism</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Version </h4>
                    <p>45 -- January 2, 2024</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Sources </h4>
                    <ul>
                        <li>Français
                            <ol>
                                <li> {{ titles.ti.long.french }}. Livres de Poche, Paris.</li>
                                <li> {{ titles.otb.long.french }}. Livres de Poche, Paris.</li>
                            </ol>
                        </li>
                        <li> English
                            <ol>
                                <li> {{ titles.ti.long.english }}, tr. Alphonso Lingis. Duquesne University Press</li>
                                <li> {{ titles.otb.long.englis }}, tr. Alphonso Lingis. Duquense University Press</li>
                            </ol>
                        </li>
                        <li> Diccionaires | Dictionaries
                            <ul>
                                <li> Français
                                    <ul>
                                        <li><a href="https://www.cnrtl.fr/" target="_blank">Centre National de
                                            Ressources Textuelles et Lexicales</a></li>
                                        <li><a href="https://www.larousse.fr/" target="_blank">Larousse</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><a href="https://www.merriam-webster.com/"
                                               target="_blank">Merriam-Webster</a></li>
                                        <li><a href="https://www.etymonline.com/" target="_blank">Etymonline - Online
                                            Etymology Dictionary</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Suggested Reading </h4>
                    <ul>
                    </ul>
                </div>
            </div>

            Gestes et opinions du docteur Faustroll, pataphysicien
            Levinas, Perverter
            Violence and Metaphysics
            The Ethics of Ambiguity
            John Llewelyn
            Alphonso Lingis
            Adriaan Peperzaak
            Chronology of Levinas's Metaphorics
            Blanchot on ex
            Susskind, Leonard
            David Eugene Smith History of Modern Mathematics
            Einstein Albert General Relativity
            Paper on Curvature
            deBroglie, Louis
            David Woodruff Smith
            rollND INTRO TO DE LEVASION
            Léon Brunschvicg Les étapes de la philosophie mathématique, Paris, Félix Alcan, coll. «Bibliothèque de
            philosophie
            contemporaine», 1912.
            bergson
            russel
            husserl
            ideas one and philosophy of arithmetic
            reimann abelian surfaces
            riemann bernhard Ueber die Hypothesen, welche der Geometrie zu Grunde liegen.
            https://www.deutschestextarchiv.de/book/view/riemann_hypothesen_1867?p=7

            de Broglie, Louis. Ondes et quanta (1923)
            https://www.academie-sciences.fr/pdf/dossiers/Broglie/Broglie_pdf/CR1923_p507.pdf
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Notes </h4>
                    {% include 'includes/info/count_alerts.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}