{% extends "base_page.html" %}
{% block subtitle %}Notes techniques | {% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> Notes techniques | Technical notes </h2>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Auteur | Author </h4>
                    <p class="card-text"> Mitchell Verter
                    </p></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Email </h4>
                    <a href="mailto:vertm098@newschool.edu">mailto:vertm098@newschool.edu</a>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Github </h4>
                    <a href="https://github.com/mcverter/EthicalPataphysicsOfAnarchism">https://github.com/mcverter/EthicalPataphysicsOfAnarchism</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Version </h4>
                    <p>45 -- January 2, 2024</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Sources </h4>
                    <ul>
                        <li>Français
                            <ol>
                                <li> {{ titles.ti.long.french }}. Livres de Poche, Paris.</li>
                                <li> {{ titles.otb.long.french }}. Livres de Poche, Paris.</li>
                            </ol>
                        </li>
                        <li> English
                            <ol>
                                <li> {{ titles.ti.long.english }}, tr. Alphonso Lingis. Duquesne University Press</li>
                                <li> {{ titles.otb.long.englis }}, tr. Alphonso Lingis. Duquense University Press</li>
                            </ol>
                        </li>
                        <li> Diccionaires | Dictionaries
                            <ul>
                                <li> Français
                                    <ul>
                                        <li><a href="https://www.cnrtl.fr/" target="_blank">Centre National de
                                            Ressources Textuelles et Lexicales</a></li>
                                        <li><a href="https://www.larousse.fr/" target="_blank">Larousse</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><a href="https://www.merriam-webster.com/"
                                               target="_blank">Merriam-Webster</a></li>
                                        <li><a href="https://www.etymonline.com/" target="_blank">Etymonline - Online
                                            Etymology Dictionary</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Suggested Reading </h4>
                    <ul>
                    </ul>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <ul class="list-group">
                <li>Jarry, Alfred. <cite>Gestes et opinions du docteur Faustroll, pataphysicien</cite></li>
                <li>Verter, Mitchell. "Levinas, Perverter"</li>
                <li>Derrida, Jacques. Violence and Metaphysics</li>
                <li>Rolland, Jacques. The Ethics of Ambiguity</li>
                <li>Llewelyn, John. Emmanuel Levinas: The Geneaology of Ethics</li>
                <li>Lingis, Alphonso. Preface to Otherwise than Being</li>
                <li>Peperzak, Adriaan. To the Other.</li>
                <li>Verter, Mitchell. Chronology of Levinas's Metaphorics</li>
                <li>Blanchot on ex</li>
                <li>Susskind, Leonard</li>
                <li>Smith, David Eugene. A History of Modern Mathematics</li>
                <li>Einstein Albert General Relativity</li>
                <li>Paper on Curvature</li>
                <li>deBroglie, Louis</li>
                <li>Smith, David Woodruff.</li>
                <li>Rolland, Jacques. Introduction to De L'evasion</li>
                <li>Lyotard, Jean-Francois. Le Logique de Levinas</li>
                <li>Brunschvicg, Léon. Les étapes de la philosophie mathématique, Paris, Félix Alcan, 1912.</li>
                <li>Bergson</li>
                <li>Russell, Bertrand</li>
                <li>Husserl, Edmund</li>
                <li>Deleuze, Gilles and Felix Guattari, A thousand Plateaus.</li>
                <li>Deleuze, Gilles. Difference and Repitition.</li>
                <li>Husserl. Ideas
                </li>
                <li>Philosophy of arithmetic</li>
                <li>Reimann abelian surfaces</li>
                <li>riemann bernhard Ueber die Hypothesen, welche der Geometrie zu Grunde liegen.</li>
                <li>https://www.deutschestextarchiv.de/book/view/riemann_hypothesen_1867?p=7</li>
                <li>de Broglie, Louis. Ondes et quanta (1923)</li>
                <li>https://www.academie-sciences.fr/pdf/dossiers/Broglie/Broglie_pdf/CR1923_p507.pdf</li>
            </ul>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Notes </h4>
                    {% include 'includes/info/count_alerts.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<div>
    The objective correlate of the concept of a possible theory determined only in respect of form [Form] is the concept
    of a possible field of knowledge [Erkenntnisgebiet] over which a theory of such form will govern. Such a field
    [Gebiet] is, however, known in mathematical circles as a manifold [Mannigfaltigkeit]. It is accordingly a field
    which is uniquely and solely determined by falling under a theory of such a form, whose objects are such as to
    permit of certain connections [Verknüpfungen] which fall under certain basic laws of this or that determinate form.
    … These laws then, as they determine the field [Gebiet] or moreover the form of the field [Gebietsform], likewise
    determine the theory to be constructed, or, more correctly, the form of the theory [Theoriensform]. In the theory of
    manifolds, e.g.,‘ +’ is not the sign for numerical addition, but for any connection for which
    laws of the form a + b = b + a, etc., hold.
</div>
