{% extends "base_page.html" %}
{% load i18n %}
{% load radical_empricism_filters %}

{% block subtitle %}{% trans "Information for" %} {{ word.french }} | {% endblock %}
{% block content %}
    <h1>{% trans "Information for" %}
        {{ word.french }}
        {% if request.LANGUAGE_CODE != 'fr' %}
            ({{ word.english }})
        {% endif %}
    </h1>

    <!-- Word Counts -->
    <div class="card border-dark-subtle my-4">
        <div class="card-body">
            <h4 class="card-title"> {% trans 'Quantities' %}</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">{{ titles.ti.short.french }}</th>
                    <th class="text-center">{{ titles.otb.short.french }}</th>
                    <th class="text-center">{% trans "Sum" %}</th>
                    <th class="text-center">{% trans "Proportion" %}</th>
                    <th class="text-center">{% trans 'Word Proximity Map' %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">{{ word.ti }}</td>
                    <td class="text-center">{{ word.otb }}</td>
                    <td class="text-center"> {{ sum }} </td>
                    <td class="text-center">{{ proportion }}</td>
                    <td class="text-center"><a href="https://www.cnrtl.fr/proxemie/{{ word.french }}" target="_blank">
                        CNRTL map for {{ word.french }}
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Word Counts -->

    <!-- Definition and Etymology -->
    <div class="card">
        <div class="card-body">
            <h2>{% trans "Definition and Etymology" %}</h2>
            <div class="d-flex justify-content-evenly">
                <div>{% include 'tags/bilingual_accordion.html' with word=word component="definition" %}</div>
                <div> {% include 'tags/bilingual_accordion.html' with word=word component="etymology" %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Definition and Etymology -->

    <!-- Genre Sets -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% trans "Genre Sets" %}</h5>
            <div class="d-flex flex-wrap">
                {% for genre in genres %}
                    {% genre_btn_collapse genre %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Genre Sets -->

    <!-- Lines from Text -->
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{% trans "Lines from texts" %}</h2>
            <!-- word lines nav tabs -->
            <nav>
                <div class="nav nav-tabs" id="word-nav-tab" role="tablist">
                    <button class="nav-link {% if word.ti > 0 %} active {% endif %}" id="ti-lines-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#ti-lines-content"
                            type="button" role="tab" aria-controls="ti-lines-content" aria-selected="false">
                        {% trans "Totality and Infinity: An Essay on Exteriority" %}
                    </button>
                    <button class="nav-link {% if word.ti == 0 %} active {% endif %}" id="otb-lines-tab"
                            data-bs-toggle="tab" data-bs-target="#otb-lines-content"
                            type="button" role="tab" aria-controls="otb-lines-content" aria-selected="false">
                        {% trans "Otherwise than Being, or Beyond Essence" %}
                    </button>
                </div>
            </nav>
            <!-- end word lines nav tabs -->

            <!-- word lines content -->
            <div class="tab-content" id="word-nav-tabContent">
                <div class="tab-pane fade {% if word.ti >= 0 %} show active {% endif %}" id="ti-lines-content"
                     role="tabpanel"
                     aria-labelledby="ti-lines-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th> {% trans 'Line' %} #</th>
                            <th>{{ titles.ti.long.french }}</th>
                            {% if request.LANGUAGE_CODE != 'fr' %}
                                <th>{{ titles.ti.long.english }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in book_lines.ti %}
                            {% book_line_display "ti" line False %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade {% if word.ti == 0 %} show active {% endif %}" id="otb-lines-content"
                     role="tabpanel" aria-labelledby="otb-lines-content">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th> {% trans 'Line' %} #</th>
                            <th>{{ titles.otb.long.french }}</th>
                            {% if request.LANGUAGE_CODE != 'fr' %}
                                <th>{{ titles.otb.long.english }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in book_lines.otb %}
                            {% book_line_display "otb" line False %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end word lines content -->
        </div>
    </div>
{% endblock %}