{% extends "base_page.html" %}
{% load static %}

{% block content %}
    <table id="word_listing" class="display">
        {% include 'includes/word_list_header.html' %}
        <tbody>
        {% for word in words %}
            <tr>
                <td>{{ word.french }}</td>
                <td>{{ word.ti }}</td>
                <td>{{ word.otb }}</td>
                <td><a href="mot/{{ word.french }}" target="_blank"> Information about "{{ word.french }}" </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#word_listing').DataTable();
        });
    </script>
{% endblock %}