{% extends "base_page.html" %}
{% block subtitle %}Information for {{ word.french }}{% endblock %}
{% block content %}
    <h1> Information for {{ word.french }} ({{ word.english }})</h1>

    <nav>
        <div class="nav nav-tabs" id="word-nav-tab" role="tablist">
            <button class="nav-link active" id="nav-counts-tab" data-bs-toggle="tab" data-bs-target="#nav-counts"
                    type="button" role="tab" aria-controls="nav-counts" aria-selected="true">
                Word Information
            </button>
            <button class="nav-link" id="nav-ti-lines-tab" data-bs-toggle="tab" data-bs-target="#nav-ti-lines"
                    type="button" role="tab" aria-controls="nav-ti-lines" aria-selected="false">
                TI Lines
            </button>
            <button class="nav-link" id="nav-otb-lines-tab" data-bs-toggle="tab" data-bs-target="#nav-otb-lines"
                    type="button" role="tab" aria-controls="nav-otb-lines" aria-selected="false">
                OTB Lines
            </button>
            <button class="nav-link" id="nav-cnrtl-tab" data-bs-toggle="tab" data-bs-target="#nav-cnrtl"
                    type="button" role="tab" aria-controls="nav-otb-lines" aria-selected="false">
                Word Proximities
            </button>
        </div>
    </nav>

    <div class="tab-content" id="word-nav-tabContent">
        <div class="tab-pane fade show active" id="nav-counts" role="tabpanel"
             aria-labelledby="nav-counts-tab">
            <div>{% include 'includes/word_page/information/counts.html' %}</div>
            <div>{% include 'includes/word_page/information/definition.html' %}</div>
            <div>{% include 'includes/word_page/information/etymology.html' %}</div>
        </div>
        <div class="tab-pane fade" id="nav-ti-lines" role="tabpanel"
             aria-labelledby="ti-lines">
            {% include 'includes/word_page/lines/tilines.html' %}</div>
        <div class="tab-pane fade" id="nav-otb-lines" role="tabpanel" aria-labelledby="otb-lines">
            {% include 'includes/word_page/lines/otblines.html' %}</div>
        <div class="tab-pane fade" id="nav-cnrtl" role="tabpanel" aria-labelledby="otb-lines">
            {% include 'includes/word_page/cnrtl/cnrtl.html' %}
        </div>
    </div>
{% endblock %}