{% extends "base_page.html" %}
{% load i18n %}
{% block subtitle %}Liste de mots | {% endblock %}
{% block content %}
    <table id="word_listing" class="display table-striped table-bordered compact border-top border-dark rounded mt-20">
        <thead class="thead-dark">
        <tr>
            <th>{% trans "Word" %}</th>
            <th>{% trans "Quantity" %} {% trans "in" %} <cite>{% trans "Totality" %}</cite></th>
            <th>{% trans "Quantity" %} {% trans "in" %} <cite>{% trans "Otherwise" %}</cite></th>
            <th>{% trans "Sum" %}</th>
            <th>Proportion</th>
            <th>{% trans "More information and texts" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td>{{ word.french }}</td>
                <td>{{ word.ti }}</td>
                <td>{{ word.otb }}</td>
                <td> {{ word.sum }} </td>
                <td>{{ word.proportion }}</td>
                <td><a href="mot/{{ word.french }}" target="_blank"> Information about "{{ word.french }}"</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#word_listing').DataTable();
        });
    </script>
{% endblock %}