{% load i18n %}
<div class="alert alert-warning">
    <div>
    {% trans "Word counts are approximate" %}.
    </div>
    <div>
        {% trans "There were a few minor text parsing errors which will be fixed in a future release" %}
    </div>
</div>

<div class="alert alert-warning">
    {% trans "Several relations have not yet been captured" %}
    <ol>
        <li>{% trans "Capitalisation"  %} -- {% trans eg  %} "Autrui" / "autrui"</li>
        <li>{% trans "Reflexives" %} -- {% trans eg  %} "s'exprimer", "se monter"</li>
        <li>{% trans "Negatives" %} -- {% trans eg  %} "n'est", "ne voit"</li>
        <li>{% trans "Prepositions" %} -- {% trans eg  %} "d'etre", "vivre de"</li>
        <li>{% trans "Articles" %} -- {% trans eg  %} "l'autre", "une visage"</li>
        <li>{% trans "Word distances"  %}</li>
        <li>{% trans "Formal variations and repetitions" %} -- {% trans eg  %} "abandon", "abandonnant", "abandonne", "abandonnee"</li>
    </ol>
</div>
<div class="alert alert-info">
    {% trans "Formula for “Proportion”" %}
    <pre><code>
    TOTAL_TI_WORDS = 108498
    TOTAL_OTB_WORDS = 80797

    def proportion_ti_to_otb(num_ti, num_otb):
        if num_otb == 0:
            return math.inf
        return (num_ti / num_otb) * (TOTAL_OTB_WORDS / TOTAL_TI_WORDS)
        </code></pre>
</div>