{% load i18n %}
<div class="alert alert-warning">
    {% trans "Word counts are approximate." %}

    {% trans "There were a few minor text parsing errors which will be fixed in a future release" %}
</div>

<div class="alert alert-warning">
    {% trans "Several relations have not yet been captured" %}
    <ol>
        <li>Capitalisation -- eg "Autrui" vs "autrui"</li>
        <li>Reflexives -- eg "s'exprimer", "se monter"</li>
        <li>Negatives -- eg "n'est", "ne voit"</li>
        <li>Prepositions -- eg "d'etre", "vivre de"</li>
        <li>Articles -- eg "l'autre", "une visage"</li>
        <li>Word distances</li>
        <li>Formal variations and repititions -- eg "abandon", "abandonnant", "abandonne", "abandonnee"</li>
    </ol>
</div>
<div class="alert alert-info">
    {% trans“Formula for "Proportion"” %}
    <pre><code>
    TOTAL_TI_WORDS = 108498
    TOTAL_OTB_WORDS = 80797

    def proportion_ti_to_otb(num_ti, num_otb):
        if num_otb == 0:
            return math.inf
        return (num_ti / num_otb) * (TOTAL_OTB_WORDS / TOTAL_TI_WORDS)
        </code></pre>
</div>