{% load i18n %}
<a id="home_and_position"></a>
<div class="card">
    <div class="card-header">{% trans "Home and Position" %}</div>
    <div class="card-body">
        <h4 class="card-title">{% trans "Home and Position" %}</h4>
        <p class="card-text">{% trans "What does the home signify for Levinas?  For Levinas, the home signifies the position of any positive entity, Self or Other.  It is the “there” or the “la” in which subjectivity finds itself, a position of intimacy, in contrast to the impersonal “Da” or Heidegger's “Dasien.”  The home is what establishes subjectivity, sustance, and identity, in the dimension of height of a posited subject in a definitive position in space-time" %}</p>
    </div>
    <div class="card-footer">{% trans "Home and Position" %}</div>
</div>
