{% load i18n %}
<div>
    {% trans "For example" %}
    <ul>
        <li>{% trans "Suffix" %}: {% trans "In" %}
            {{ titles.otb.short.english }}
            {% trans "suffix 'ance' denotes nominalization whereas the infinitive is both nominal and verbal. All words with this suffix belong to ONTOLOGY" %}
        </li>
        <li>{% trans "Prefix" %}: {% trans "The prefix 'sur' means above and connotes height. All words that begin with this prefix belong to MATHEMATICS." %} {% trans "For example" %}:
            <a href="/word/survivor">"survivor"</a> {% trans "or" %} <a href="/word/resurrection">"resurrection"</a>
    </ul>
    <div>
        {% genre_btn_collapse "GÉOMÉTRIE" %} + {% genre_btn_collapse "GENÈSES" %}
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Infinitives and Etymological roots" %}</h4>
                    <p class="card-text">
                        {% trans "In his 1932 article that introduced Heidegger to the francophone world, Martin Heidegger et l’ontologie, Levinas explains his decision to translate Heidegger’s term Zuhandenheit as  “maniabilite” because he wishes to “take this term in its etymological sense”35" %}
                    </p>
                    <p class="card-text">
                        {% trans "In his later works critical of Heidegger, he will critique the notion of the hand as being the primary mode through which relation with the world is effectuated. Instead, he makes a twofold division.  The primary mode of relation with the world is through the mouth" %}.
                    </p>
                    <p class="card-text">
                        {% trans "He secondary relationhip to the world as exterioirty is explored through the hand in the sense of maintenir, to maintain.  Words with the same infinitive and the same etymological roots belong to the same Thematic Genre" %}
                    </p>
                    {% genre_btn_collapse "TENIR" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "Semantic themes" %}</h4>
                <p class="card-text"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% trans "Prefixes" %}</h4>
            <p class="card-text"></div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% trans "Suffixes" %}</h4>
            <p class="card-text"></div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% trans "Parts of speech" %}</h4>
            <p class="card-text"></div>
    </div>
</div>


<!-- Membership old -->

{% load i18n %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">{% trans "Genre membership" %}</h4>
        <div class="list-genre-item ">
            <h4 class="card-title">{% trans "Metaphorical" %}</h4>
            { genre_btn_collapse "CONSCIENCE" %}
            <div class="list-genre">
                <a class="btn btn-light" target="_blank" href="/word/sommeil">sommeil </a>
                <a class="btn btn-light" target="_blank" href="/word/insomnie">insomnie </a>
                <a class="btn btn-light" target="_blank" href="/word/conscience">conscience </a>
                <a class="btn btn-light" target="_blank" href="/word/conscience">conscience </a>
                <a class="btn btn-light" target="_blank" href="/word/attention">attention </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">{% trans "Etymological roots" %}</h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">{% trans "Prefixes" %}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">{% trans "Suffixes" %}</h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">{% trans "Parts of speech" %}</h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">{% trans "Semantic themes" %}</h4></div>
        </div>
        <div>{% trans "Many of these genres are topologically homologous to each other and can be mapped onto each other. For example, the relations within the Appearance_Genre can be correlated to the Faciality_Genre. The formula for transfomation is being investigated by this research" %}</div>
    </div>
</div>

<!-- Membership even older -->

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Appartenance à un genre | Genre membership </h4>
        <div class="list-genre-item ">
            <h4 class="card-title">Métaphorique | Metaphorical </h4>
            <div class="genre-thematique-label">CONSCIENCE</div>
            <div class="list-genre">
                <a class="btn btn-light" target="_blank" href="/word/sommeil">sommeil </a>
                <a class="btn btn-light" target="_blank" href="/word/insomnie">insomnie </a>
                <a class="btn btn-light" target="_blank" href="/word/conscience">conscience </a>
                <a class="btn btn-light" target="_blank" href="/word/conscience">conscience </a>
                <a class="btn btn-light" target="_blank" href="/word/attention">attention </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Racines étymologiques | Etymological roots </h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Préfixes | Prefixes </h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Suffixes | Suffixes </h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Parties du discours | Parts of speech </h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Thèmes sémantiques | Semantic themes </h4></div>
        </div>
        Many of these genres are topologically homologous to each other and
        can be mapped onto each
        other.
        For
        example,
        the relations within the Appearance_Genre can be correlated to the Faciality_Genre. The
        formula for
        transformation is being investigated by this research
    </div>
</div>
