{% load i18n %}
<h4 class="card-title">{% trans "Objective" %}</h4>
<p class="card-text">
    {% trans "To map the relations within and between multiple dimensions of Levinas's metaphorical terminology, both within and between his two major texts" %}{% trans "Totality and Infinity" %}
    and {% trans "Otherwise than Being, or Beyond Essence" %}
    {% trans "Too much secondary literature describes a one-dimensional understanding of these dynamics, a line connecting two antagonistic poles, Levinas contra Hegel, ontology contra ethics, totality contra infinity, paternity contra maternity, and so on.  The tendency to reduce Levinas's  the predicative, ontological slogan 'Ethics is first philosohy' " %}
    topological manifolds that describe the thematic tensor transformations within and between various Genre Groups (GG)
    that comprise the Levinas's writing. This analysis will be useful in graphing the relations and transformations of
    terms both between Levinas's two major works and within each work."%}
    lass="card-text">
    {% trans "Many of the techniques and concepts applied from the various subfields of mathemamatics, in particularr using exploring the rmeaning of curvature and particularly non-Euclidean geometry and graph theory, as well as meditations on numbers, zero, and infinity,  from prehistoric times, and relativity phhysics, waves to think about  ." %}


    {% trans "within terminological GGs both within texts and between his Relations will be traced by detemining a flat projections, doubles and by 2x2 perspecitval and conversational conversions, and by considering how various etymological and semantic genres are transformed into various word forms" %}</p>.
