{% load i18n %}
<h4 class="card-title">{% trans "Objective" %}</h4>
<p class="card-text">
    {% trans "This project seeks to map the relations that obtain between and among a manifold of dimensions that comprise terminology contained in his two major works" %},
    {% trans "Totality and Infinity" %}
    {% trans "and" %}
    {% trans "Otherwise than Being, or Beyond Essence" %}.
    {% trans "Creating these terminological topologies will enable us to measure how Levinas transforms the thematic genres that flow through his work by permuting words that represent that genre, and combining terms from various genres into the metaphorical constellatons that constitute his sentences."
permutation
    synonyms,
    etymological root

    the combination of genres of individual words, and the ." %}


    {% trans "Too much secondary literature describes a one-dimensional understanding of these dynamics, a line connecting two antagonistic poles, Levinas contra Hegel, ontology contra ethics, totality contra infinity, paternity contra maternity, and so on.  The tendency to reduce Levinas's  the predicative, ontological slogan 'Ethics is first philosohy' " %}
    topological manifolds that describe the thematic tensor transformations within and between various Genre Sets (GS) that comprise the Levinas's writing. This analysis will be useful in graphing the relations and transformations of terms both between Levinas's two major works and within each work."%}
    lass="card-text">
    {% trans "Many of the techniques and concepts applied from the various subfields of mathemamatics, in particularr using exploring the rmeaning of curvature and particularly non-Euclidean geometry and graph theory, as well as meditations on numbers, zero, and infinity,  from prehistoric times, and relativity phhysics, waves to think about  ."%}


    {% trans "within terminological GSes both within texts and between his Relations will be traced by detemining a flat projections, doubles and by 2x2 perspecitval and conversational conversions, and by considering how various etymological and semantic genres are transformed into various word forms" %}</p>.


    {% trans "" %}
    {% trans "One such example is Levinas's metaphorics of the home.  Levinas figures the home as idea of place, as 'there" %}

    {% trans "Thematic genres become related to each other in various ways" %}.
    <ol>
        <li>
            {% trans "First of all, they can intersect in a single word, as in the term 'survivant' which appends the prefix 'sur' to the word 'vivant', thereby linking the genre of HAUTEUR with the genre of VIVRE, of height with not just with the 'living' in the infinitive form but as a male substantive, a virile subjectivity that stands up erect." %}
            {% trans "" %}
        </li>
    </ol>


    's thematic genres undergoes perspectival transformations as

    and to consider the way that such genres are constellated together within the words that compose his phrases and sentences, to .   to each other within his sentences.  This will enable us  each other within

    s well as the way that such signifying terms are constellated together in various phrases, sentences, paragraphs, and sections of his writing.  we can better understand the relations between the constellations of metaphors that recur periodically throughout his text, enabling us to better analyse the ns of terms that not only within the trace how the different linguistic terms open up " %}
</p>

Tracing through the metaphorics of Levinas’s writings allows us to recognize
the dynamic relationship between apparently opposing terms and to understand
how different ethical-phenomenological events emerge from different constellations of them.
