{% load i18n %}

<p class="card-text">{% trans "Certain dualities are opposed to each other" %}</p>
<p class="card-text">{% trans "Totality and Infinity narrates the recurrent cyclings of these doubles. Different sections of the book invert or bend these double relations. In one section, the Self occupies a place of height looking at the depth of the destitute other. In another section, the Other occupies a place of height looking down at the subject self in hypostasis and substitution. Other sections apply other metaphorical curvature tensors to warp the space furter" %}</p>
<h5>{% trans "Examples" %}</h5>
<ul class="list-genre">
    <li class="list-genre-item">
        <a href="/mot/absence">absence</a>
        -
        <a href="/mot/presence">présence</a></li>
    <li class="list-genre-item">
        <a href="/mot/visage">visage</a>
        -
        <a href="/mot/visage">visage</a></li>
    <li class="list-genre-item">
        <a href="/mot/totalite">totalité</a>
        -
        <a href="/mot/infini">infini</a></li>
    <li class="list-genre-item">
        <a href="/mot/meme">même</a>
        -
        <a href="/mot/autre">autre</a></li>
</ul>
