{% load i18n %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{% trans "Repetition of the same word in different context" %}</h4>
        <p class="card-text">
            {% trans "The first thing to notice about Levinas's terminology is that they recur periodically throughout the text,  words in Levinas's text is that they recur periodically throughout in different contexts." %}</p>
        <p class="card-text">
            {% trans "Acknowledging Levinas’s perspectivism provides a key to understanding the storyline that animates Totality and Infinity. Each section of the book can be understood as a shifted perspective on the becoming of a temporal moment, as can be noticed by the recurrence of the same word in different orientations to describe different ethical-phenomenological events" %}.</p>
        <h5>Depth</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="font-weight-bold">The relationship to the element</div>
                {% book_line_display "ti" 1982 %}
            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The fright of recognizing oneself as an other</div>
                {% book_line_display "ti" 222 %}
            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The distance in depth of the face-to-face</div>
                {% book_line_display "ti" 286 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The depth of the absence of the il y a</div>
                {% book_line_display "ti" 2223 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The infinite depths of the past</div>
                {% book_line_display "ti" 2329 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The fathomless depth of the disquieting future</div>
                {% book_line_display "ti" 2514 %}
            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The depth of materiality</div>
                {% book_line_display "ti" 3129 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The secret depths of feminine being</div>
                {% book_line_display "ti" 2468 %}


            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The depth of erotic tenderness</div>
                {% book_line_display "ti" 4225 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">Depth as defencelessness</div>
                {% book_line_display "ti" 3267 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold"></div>
                {% book_line_display "ti" 3233 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">Depth as death, the tomb</div>
                {% book_line_display "ti" 3848 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">Depth as the child</div>
                {% book_line_display "ti" 4254 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold"> The depth of silence</div>
                {% book_line_display "ti" 1260 %}

            </li>
            <li class="list-group-item">
                <div class="font-weight-bold">The depth of the mythical</div>
                {% book_line_display "ti" 2216 %}

            </li>
        </ul>
    </div>
</div>



