{% load i18n %}

<div id="accordion-site-map-summary" class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                    class="accordion-button m-4"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-site-map-summary"
            >
                <h2> {% trans "Website Map" %}</h2>
            </button>
        </h2>
        <div
                id="collapse-site-map-summary"
                class="accordion-collapse collapse"
                data-bs-parent="#accordion-site-map-summary"
        >
            <div class="english">
                <div class="card english" id="site-map-summary">
                    <div class="card-body">
                        <h2 class="">{% trans "Website Map" %}</h2>
                        <ul>
                            {% for item in nav_items %}
                                <li><a href="/{{ item.route }}">{% trans item.title %}</a>: {% trans item.explanation %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
