{% load i18n %}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">{% trans "Three-Dimensional Analysis" %}</h2>
        <p class="card-text">{% trans "The most significant innovation of <em>Otherwise than Being</em> is to reconsider the elemental and the negative by highlighting the metaphors that were clandestine -- hidden in plain sight -- within the text of <em>Totality and Infinity</em>, in particular those relating to <em>SECTION II. Interiority and Economy</em>" %}</p>
        <p class="card-text">{% trans "Whereas <em>Totality and Infinity</em> considered the infinity of countability -- Cantor's <span> 0-א</span>" %}</p>
        <p class="card-text">{% trans "<em>Otherwise than Being</em> explores the infinity of infinitesimals, the continuity of the real numbers, Cantor's <span> 1-א</span>" %}</p>
        <p class="card-text">{% trans "With this rotated perspective, the flatness of the planar totality displays more clearly the curvature of the third dimension" %}</p>
        <h4 class="card-title">{% trans "The mathematics of three" %}</h4>
        <p class="card-text">{% trans "The words “three” in English, “tres” and “trois” in French, and “tres” in Spanish all derive etymologically from “trans”, meaning “beyond”" %}</p>
        <blockquote>{% trans "tres (adv.) “very,” 1815, from French très, from Old French tres “right, precisely, completely, very,” from Latin trans “beyond” (see trans-), later “very” (compare Old Italian trafreddo “very cold”)." %}</blockquote>
        <p class="card-text">{% trans "Wikipedia explains that the derivation of the number “three” from “trans” / “beyond” might be rooted in our prehistoric understanding of number" %}</p>
        <blockquote>{% trans "There is some evidence to suggest that early man may have used counting systems which consisted of “One, Two, Three” and thereafter “Many” to describe counting limits. Early peoples had a word to describe the quantities of one, two, and three but any quantity beyond was simply denoted as “Many”. This is most likely based on the prevalence of this phenomenon among people in such disparate regions as the deep Amazon and Borneo jungles, where western civilization's explorers have historical records of their first encounters with these indigenous people.[5]" %}</blockquote>
        <p class="card-text">{% trans "For Pythagoras, the Triad represented Harmony. Three is the sum of one (Unity) and two (Diversity). It is the first masculine number." %}</p>
        <p class="card-text">{% trans "For Euclid, two points determine a line. Three non-collinear points determine a triangle or a plane." %}</p>
        <p class="card-text">{% trans "Levinas reorients the analyses of flatness by reconsidering all of its metaphors from the third-dimensional perspective of “the third”" %}</p>
    </div>
</div>