{% load i18n %}
{% load static %}
<a id="flat"></a>
<div class="section">.
    <img class="img-centered center" src="{% static 'images/FlatProjection.png' %}"/>
    <p class="card-text">{% trans "In his first book, Levinas opposes the idea of the personal infinity to the concrete impersonal 'totality'.  The relation between these two can best be understood as the distinction between curved space and its flat projection. In his second book, however, Levinas reorients this analysis to transform this flat surface into the third dimensionality of the third persons.  In this section, we wil explain the idea of flatness in non-Euclidean geometry, explain how non-Euclidean geometry is employed by the theory of spacetime proposed by Einstein's principle of relativity, and then discuss lines of Totality and Infinity which demonstrate Levinas's usage of these concepts" %}</p>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">What is Flatness?</h3>
            <p class="card-text">{% trans "The notion of flatness emerges out of non-Euclidean geometry's critique of Euclid's foundational work Geometry in which he sets out five axioms which ground the rest of his straight-edge and compass constructions. In the 19th century, thinkers such as when Nikolay Lobachevsky, János Bolyai, and Berhnard Riemann developed alternative geometries which violated Euclid's definition of a parallel line and his fifth axiom." %}</p>

            <p class="card-text">{% trans "Euclid defines a parallel line as follows:" %}</p>
            <blockquote>Parallel straight lines are straight lines which, being in the same plane and being produced
                indefinitely in both directions, do not meet one another in either direction.
            </blockquote>

            <img class="img-centered" src="{% static 'images/ParallelLines.png' %}"/>

            <p class="card-text">{% trans "His fifth axiom asserts:" %}</p>

            <blockquote>If a line segment intersects two straight lines forming two interior angles on the same side
                that are less than two right angles, then the two lines, if extended indefinitely, meet on that side on
                which the angles sum to less than two right angles.
            </blockquote>

            <img class="img-centered" src="{% static 'images/ParallelPostulate.png' %}"/>


        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{% trans "The Cartesian Grid" %}</h3>
            <p>Descartes model of a grid of points rests upon the model of Euclid's parallel lines. Each vertical line
                that marks the x-direction is parallel to each other. Each horizontal line is parallel to each other The
                two axes are always at right angles to each other. You can shift your motion in the current direction
                one increment in the orthogonal direction by turning counterclockwise, moving one unit in the orthogonal
                direction and then turning clockwise and resuming your motion.</p>
            <img class="img-centered" src="{% static 'images/ParallelPostulate.png' %}"/>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Non Euclidean Curvature</h3>
            <p class="card-text">{% trans "Non Euclidean geometry investigates relationships that do not follow Euclid's version of the parallel postulate. Below are figured Three curvatures" %}</p>

            <ul>
                <li>Zero (flat) curvature</li>
                <li>Positive (spherical) curvature</li>
                <li>Negative (hyperbolic) curvature</li>
            </ul>
            <img class="img-centered" src="{% static 'images/Curvature.gif' %}"/>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Curvature, Position, and Distance</h3>
            <p class="card-text">{% trans "Whereas human interactions require intersections that propel the development of grid-like bureacracies, most if not many of our interactions with the natural world occur in curved environments rather than flat ones. A simple example of this is walking up a hill." %}</p>

            <p class="card-text">{% trans "Let's say that you are standing at the bottom a hill, at Level-0 and at Avenue A that goes up the hill. Your friend Panmuphle is also at the bottom, at Level-0, but he is starting from the opposite side of the hill at Avenue Z. To walk to Panmuphle from Level-0, you would have to walk around the base of the hill. Let's say this distance is 1000 meters." %}</p>

            <p class="card-text">{% trans "Instead of walking around the hill, you and Panmuphle decide to meet each other at the top. You walk up Avenue A and Panmuphle walks up Avenue Z. Because the hill is curved and both walking up slopes, the distance that separates you and Panmuphle around the hill decreases as you go upwards. For example, let's say that when you are at Level-7, for example, the distance separating you if you walked around from Avenue A to Avenue Z is only 800 meters. Finally, when you both reach the top of the hill, there is effectively 0 meters separating you in the around-direction." %}</p>

            <p class="card-text">{% trans "Because of curvature, the relative distance of other objects depends upon one's own position." %}</p>
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Gauss Curvature: Theorema Egregium and Relative position</h3>
            <p class="card-text">{% trans "The notion of curvature was developed by Gauss when he was studying what properties of spaces remain invariant when you deform them. He expressed his conclusion af this research as his Theorema Egregium (Remarkable Theorem)" %}</p>
            <blockquote>If a curved surface is developed upon any other surface whatever, the measure of curvature in
                each point remains unchanged.
            </blockquote>
            <p class="card-text">{% trans "That is, you can bend a surface without changing the relative position of the points in the surface. For example, if you draw a flower on a sheet of paper and then roll that paper into a cylinder, the distance between the points remains the same. Thus we can say that a cylinder and a sheet of paper have the same curvature, and are both flat." %}</p>

            <p class="card-text">{% trans "Conversely, let's draw a smiley face on a sphere. Is there any way we can unroll that sphere and map it onto a flat sheet of paper such that the relative positions of each point with respect to the others remains the same?" %}</p>

            <p class="card-text">{% trans "The answer is no. Their curvatures of a sphere and a flat piece of paper." %}</p>

            <p class="card-text">{% trans "For this reason, it is impossible to perfectly replicate the surface of the Earth on a flat map. Instead one must use a variety of techniques to reproduce the maps that distort the areas and distances of the land masses." %}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body h3 card-title">Gaussian Perfect Pizza Posture</div>
        <p class="card-text">{% trans "As a student at the New School for Social Research in New York City, one is expected to master the art of perfect pizza holding as a prerequisite to the completion of your degree." %}</p>

        <p class="card-text">{% trans "The best way to hold a slice of pizza is to bend it slightly down the middle while you are holding it. " %}</p>
        <p class="card-text">{% trans "If you don't, the top of the pizza slice will start to droop forward, making sauce and cheese drip off." %}</p>

        <img class="img-centered" src="{% static 'images/PizzaCurvature.jpeg' %}"/>
        <p class="card-text">{% trans "Why does this fold add to the stability of the pizza slice?  As mentioned above, Gauss's Theorem Egregrium states that the total curvature of an object is unaffected by any deformation of it.  " %}</p>


        <p class="card-text">{% trans "We can calculate the curvature of an object by the product of its change in any two orthogonal directions.  " %}</p>

        <p class="card-text">{% trans "By length, the curvature of piece pizza is 0 and by width the curvature is also zero" %}</p>


        <p class="card-text">{% trans "The total curvature is 0 x 0 = 0.  A flat object has zero curvature." %}</p>


        <p class="card-text">{% trans "When you hold up a pizza without folding it, the curvature of the width remains zero.  Gravity pulls down the front of the pizza, which curves the length of the pizza.  But that does not affect the total curvature because any number times 0 is also 0." %}</p>

        <p class="card-text">{% trans "Conversely, when you slightly fold a slice, you create curvature along the width of the slice.  But the total curvature must remain 0.  Therefore, the length of the pizza is forced to be rigid and straight." %}</p>
        <img class="img-centered" src="{% static 'images/PizzaCurvature2.jpeg' %}"/>

    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"> Riemann Proximity</h3>
            <p class="card-text">{% trans "Given that the relative distance between any two points depends upon their respective positions, how can we then define the notion of measurement." %}</p>

            <p class="card-text">{% trans "A student of Gauss, Bernhard Riemann explained in an 1868 that measurement from" %}</p>

            <p class="card-text">{% trans "Geodisc proximilty neighborhood. flat projection. shadow of flatness. differential" %}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Einstein Curvature</h3>
        </div>
    </div>

    <p class="card-text">{% trans "Levinas’s work is most typically associated with the critique of the flat projection the grid of points plotted on a map in Euclidean rectilinear space, in a Cartesian grid, arrayed in a totality that can be integrated into a whole" %}</p>
    .
    <p class="card-text">{% trans "He borrows the notion of space time curvature from General Relativity. As elaborated by Einstein, Poincare, and Minkowski, general Relativity explains how masses, composed of mass and energy, curve the space, time and light. The most simplest illustration of this is the way that mass curves space. If you put a heavy ball in the middle of a sheet, it will bend the sheet around it. By doing so, it creates least-energy pathways around it. In a similar manner, the massiveness of the sun bends the space around it such that planets find the least-action path as elliptical paths around it" %}</p>
    .
    <p class="card-text">{% trans "We can see a similar dynamic in Levinas’s usage of the idea of “curvature” effected by height and weight" %}</p>
    .
    <p class="card-text">{% trans "In “Time and the Other”, Levinas describes the establishment of a place, the" %}<em>Da</em>
        <span>{% trans "of" %}</span>
        <em>Dasein</em>
        <span>,</span>
        <span>{% trans "for a person through the double movement of hypostasis. This is a duality of the Me and the Self. It is also a dimensional duality: to maintain a position in space, to erect oneself as homo erectus, as a virile man with an erection, one stands up in space, extending oneself in height. At the same time, this upwards movement is doubled by a downwards movement, one’s weight that drags oneself back to one’s body, a gravity produced by one’s own material mass" %}</span>
    </p>


    {% trans "What we wish to point out here is that the not just a polarity but a within terminological GGs both within texts and between his Relations will be traced by detemining a flat projections, doubles and by 2x2 perspecitval and conversational conversions, and by considering how various etymological and semantic genres are transformed into various word forms" %}

</div>