<div class="card">
    <div class="card-body">
        <h4 class="card-title">Combinations </h4>
        <div class="card-text">
            Prefixes, suffixes, prepositions, etymological roots, and verbal, nominal, adjectival and adverbial
            combinations all belong to various THEMATIC_GROUPS. This enables a single word to envelop an N-ply manifold
            of THEMATIC_GROUPS.

            conjugations, noun declensions, and etymological roots all are Combinations (survivre = sur (height) + vivre
            (Family Group)
        </div>
    </div>
</div>