<div class="card">
    <div class="card-body">
        <h4 class="card-title">Combinations </h4>
        <div class="card-text">
            <div class="nav bilingual" id="combinations-tab" role="tablist">
                <a class="nav-link active" id="french-combinations-tab" data-bs-toggle="tab"
                   data-bs-target="#french-combinations"
                   type="button" role="tab" aria-controls="nav-combinations" aria-selected="true">
                    Français
                </a>
                <a class="nav-link" id="english-combinations-tab" data-bs-toggle="tab"
                   data-bs-target="#english-combinations"
                   type="button" role="tab" aria-controls="nav-combinations" aria-selected="true">
                    English
                </a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="french-combinations" role="tabpanel"
                     aria-labelledby="nav-combinations-tab">
                    <div class="french">
                        <div class="card-text french">Préfixes, suffixes, prépositions, racines étymologiques et
                            verbales, nominales, adjectivales et adverbiales
                            les combinaisons appartiennent toutes à différents THEMATIC_GROUPS. Cela permet à un seul
                            mot d'envelopper un collecteur à N plis
                            de THEMATIC_GROUPS.
                        </div>

                        <div class="card-text french">Par exemple, le mot <a href="/word/survivre">"survivant"</a>
                            appartient au groupe GENESIS_GT car le
                            la racine étymologique est « vivre ». Il appartient au
                            groupe MATHEMATICS_GT car le préfixe "sur" évoque la hauteur.
                        </div>

                        <div class="card-text french">La naissance du fils est appelée une <a href="/word/resurrection">"résurrection"</a>
                            car elle
                            monte (surgir) à nouveau (re), combinant ainsi "hauteur" et "récurrence" de MATHEMATICS_GT
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="english-combinations" role="tabpanel"
                     aria-labelledby="nav-combinations-tab">
                    <div class="english">
                        <div class="card-text english">Prefixes, suffixes, prepositions, etymological roots, and
                            verbal, nominal, adjectival and adverbial
                            combinations all belong to various THEMATIC_GROUPS. This enables a single word to
                            envelop an N-ply manifold
                            of THEMATIC_GROUPS.
                        </div>

                        <div class="card-text english">For example, the word <a
                                href="/word/survivre">"survivor"</a> belongs to the group GENESIS_GT because the
                            etymological root is "vivre". It belongs to the
                            group MATHEMATICS_GT because the prefix "sur" connotes height.
                        </div>

                        <div class="card-text english">The birth of the son is referred to as a <a
                                href="/word/resurrection">"resurrection"</a> because it again
                            rises (surgir) again (re), thus combining "height" and "recurrence" from
                            MATHEMATICS_GT
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
