<div class="card">
    <div class="card-body">
        <h4 class="card-title">Combinations </h4>
        <div class="card-text">
            Prefixes, suffixes, prepositions, etymological roots, and verbal, nominal, adjectival and adverbial
            combinations all belong to various THEMATIC_GROUPS. This enables a single word to envelop an N-ply manifold
            of THEMATIC_GROUPS.

            For example, the word "survivor" belongs to the group GENESIS_GT because the etymological root is "vivre". It belongs to the
            group MATHEMATICS_GT because the prefix "sur" connotes height.

            conjugations, noun declensions, and etymological roots all are Combinations (survivre = sur (height) + vivre
            (Family Group)
        </div>
    </div>
</div>