<div class="card">
    <div class="card-body ">
        <h4 class="card-title">Doubler | Doubling</h4>
        <div class="nav bilingual" id="doubling-tab" role="tablist">
            <a class="nav-link active" id="french-doubling-tab" data-bs-toggle="tab"
               data-bs-target="#french-doubling"
               type="button" role="tab" aria-controls="nav-doubling" aria-selected="true">
                Français
            </a>
            <a class="nav-link" id="english-doubling-tab" data-bs-toggle="tab"
               data-bs-target="#english-doubling"
               type="button" role="tab" aria-controls="nav-doubling" aria-selected="true">
                English
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="french-doubling" role="tabpanel"
                 aria-labelledby="nav-doubling-tab">
                <div class="anglais">
                    <div class="card-text">Levinas structure sa pensée en double. Il fait référence à cela
                        en continu,
                        dans des discussions sur l'ambiguïté, l'ambhibologie, les contradictions, les paradoxes, etc.
                    </div>
                    <div class="card-text">L'importance du doublement doit être comprise à la lumière des
                        slogan mal compris « l’éthique est la première philosophie ».
                        Plutôt que de nous inciter à occuper le rang de priorité, Levinas nous invite à nous interroger
                        la priorité de la priorité, pour comprendre
                        comment la priorité est toujours secondaire par rapport à la relation avec une seconde partie.
                        La deuxième fête
                        est l'autre, qui est aussi une singularité, mais placée
                        en position de juxtapostion ou de proximité ou de sérialité
                    </div>
                    <div class="card-text">Il convient de noter que le chiffre deux a une signification particulière
                        dans
                        Judaïsme. Livres du Talmud
                        toujours ouvert sur la deuxième page. Le premier livre de la création, la Genèse, commence par
                        le
                        mot B'RAISHIT. La racine du mot
                        « ROSH » signifie le chef ou le premier. Le préfixe « B » signifie le chiffre deux, ainsi que
                        nom maison, ainsi que la relation locative « à l'intérieur ».
                        Le prénom féminin le plus populaire dans la Bible est en fait « Beth » comme dans « Bethléem ».
                    </div>
                    <div class="card-text">Il convient également de noter que le héros shakespearien "Macbeth" peut être
                        cassé
                        dans le patronyme « Mac » et le féminin « Beth », signifiant peut-être le souffle, la vie ou la
                        maison.
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="english-doubling" role="tabpanel"
                     aria-labelledby="nav-doubling-tab">
                    <div class="english">
                        <div class="card-text">Levinas structures his thinking in doubles. He refers to this
                            continuously,
                            in discussions of ambguity, ambphibology, contradictions, paradoxes, and so on.
                        </div>
                        <div class="card-text">The importance of doubling should be understood in light of the
                            misunderstood slogan "ethics is first philosophy."
                            Rather than urging us to embrace the rank of priority, Levinas invites us to question
                            the priority of priority, to understand
                            how priority is always secondary to the relationship to a second party. The second party
                            is the other, who is also a singularity, but placed
                            in a position of juxtapostion or proximity or seriality
                        </div>
                        <div class="card-text">It should be noted that the number two has special significance in
                            Judaism. Books of Talmud
                            always open on the second page. The first book of creation, Genesis, starts with the
                            word B'RAISHIT. The root of the word
                            "ROSH" means the head or the first. The prefix "B'" means the number two, as well as
                            noun home, as well as the locative relation "inside".
                            The most popular female name in the bible is, in fact, "Beth" as in "Bethlehem"
                        </div>
                        <div class="card-text">It should also be noted that the Shakespearean hero "Macbeth" can be
                            broken
                            into the patronym "Mac" and the feminine "Beth", meaning perhaps breath or life or house
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
