<div class="card">
    <div class="card-body">
        <h4 class="card-title">Intersection combinatoire | Combinational intersection </h4>
        <nav>
            <div class="nav bilingual" id="intersection-tab" role="tablist">
                <a class="nav-link active" id="french-intersection-tab" data-bs-toggle="tab"
                   data-bs-target="#french-intersection"
                   type="button" role="tab" aria-controls="nav-intersection" aria-selected="true">
                    Français
                </a>
                <a class="nav-link" id="english-intersection-tab" data-bs-toggle="tab"
                   data-bs-target="#english-intersection"
                   type="button" role="tab" aria-controls="nav-intersection" aria-selected="true">
                    English
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="french-intersection" role="tabpanel"
                 aria-labelledby="nav-intersection-tab">
                Par exemple le mot <a href="/word/origine">origine</a> appartient à MATHEMATICS_GT et
                GENÈSE_GT. On peut observer un mouvement parallèle le long de ces vecteurs métaphoriques.
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="english-intersection" role="tabpanel"
                     aria-labelledby="nav-intersection-tab">
                    For example the word <a href="/word/origine">origin</a> belongs to MATHEMATICS_GT and
                    GENESIS_GT. One can observe parallel motion along these metaphorical vectors.
                </div>
            </div>
        </div>
        <div class="list-group">
            absence - presence, visage - face, totality - infinity, same - other,
        </div>
    </div>
    <div class="list-group-item ">Combinations (survivre = sur (height) + vivre (Family
        Group)
    </div>
    <div class="list-group-item ">Constellational Proximities
        Certain ThematicGroups occur within
    </div>
</div>
