<div class="card">
    <div class="card-body">
        <h4 class="card-title">Opposition </h4>
        <div>
            Levinas discusses most metaphors in doubles such as
            <ul>
                <li><a href="/word/absence">absence</a> - <a href="/word/presence">présence</a></li>
                <li><a href="/word/visage">visage</a> - <a href="/word/visage">visage</a></li>
                <li><a href="/word/totalite">totalité</a> - <a href="/word/infini">infini</a></li>
                <li><a href="/word/meme">même</a> - <a href="/word/autre">autre</a></li>
            </ul>
        </div>
    </div>
</div>
