<div class="card">
    <div class="card-body">
        <h4 class="card-title">Oppositions</h4>
        <div class="nav bilingual" id="opposiion-tab" role="tablist">
            <a class="nav-link active" id="french-opposiion-tab" data-bs-toggle="tab"
               data-bs-target="#french-opposiion"
               type="button" role="tab" aria-controls="nav-opposiion" aria-selected="true">
                Français
            </a>
            <a class="nav-link" id="english-opposiion-tab" data-bs-toggle="tab"
               data-bs-target="#english-opposiion"
               type="button" role="tab" aria-controls="nav-opposiion" aria-selected="true">
                English
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="french-opposiion" role="tabpanel"
                 aria-labelledby="nav-opposiion-tab">
                <div class="card-text french">
                    <p>Certains dédoublements s'opposent les uns aux autres</p>
                    <p>Totalité et Infini raconte les cycles récurrents de ces doubles. Différent
                        des sections du livre s'inversent ou se plient
                        ces doubles relations. Dans une section, le Soi occupe une place de hauteur
                        au fond de l’autre démuni. Dans une autre rubrique,
                        l'Autre occupe une place de hauteur regardant le sujet moi en hypostase
                        et substitution. D'autres sections appliquent d'autres tenseurs de courbure métaphoriques
                        pour déformer davantage l'espace.</p>
                    <h5>Exemples</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/word/absence">absence</a> - <a
                                href="/word/presence">présence</a></li>
                        <li class="list-group-item"><a href="/word/visage">visage</a> - <a
                                href="/word/face">visage</a></li>
                        <li class="list-group-item"><a href="/word/totalite">totalité</a> - <a
                                href="/word/infini">infini</a></li>
                        <li class="list-group-item"><a href="/word/meme">idem</a> - <a href="/word/other">autre</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="english-opposiion" role="tabpanel"
                         aria-labelledby="nav-opposiion-tab">
                        <div class="card-text english">
                            <p>Certain doublings are opposed to each other</p>
                            <p>Totality and Infinity narrates the recurrent cyclings of these doubles. Different
                                sections of the book invert or bend
                                these double relations. In one section, the Self occupies a place of height looking
                                at the depth of the destitute other. In another section,
                                the Other occupies a place of height looking down at the subject self in hypostasis
                                and substitution. Other sections apply other metaphorical curvature tensors to warp
                                the space furter</p>
                            <h5>Examples</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/word/absence">absence</a> - <a
                                        href="/word/presence">présence</a></li>
                                <li class="list-group-item"><a href="/word/visage">visage</a> - <a
                                        href="/word/visage">visage</a></li>
                                <li class="list-group-item"><a href="/word/totalite">totalité</a> - <a
                                        href="/word/infini">infini</a></li>
                                <li class="list-group-item"><a href="/word/meme">même</a> - <a
                                        href="/word/autre">autre</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>