<div class="card">
    <div class="card-body ">
        <h4 class="card-title">Parallélisme | Parallelism</h4>
        <div class="nav bilingual" id="parallelism-tab" role="tablist">
            <a class="nav-link active" id="french-parallelism-tab" data-bs-toggle="tab"
               data-bs-target="#french-parallelism"
               type="button" role="tab" aria-controls="nav-parallelism" aria-selected="true">
                Français
            </a>
            <a class="nav-link" id="english-parallelism-tab" data-bs-toggle="tab"
               data-bs-target="#english-parallelism"
               type="button" role="tab" aria-controls="nav-parallelism" aria-selected="true">
                English
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="french-parallelism" role="tabpanel"
                 aria-labelledby="nav-parallelism-tab">
                <div class="french">
                    <p>Certaines <a href="https://encyclopediaofmath.org/wiki/Manifold">variétés</a>
                        avoir
                        <a href="https://encyclopediaofmath.org/wiki/Homology_manifold">homologue </a> <a
                                href="https://encyclopediaofmath.org/wiki/Topology,_general"> topologies</a> et
                        leurs <a
                                Les transformations href="https://encyclopediaofmath.org/wiki/Tensor_bundle">tensor</a>
                        se produisent dans
                        parallèle à
                        les uns les autres
                    </p>
                    <p>Par exemple, lorsque Levinas parle de NIETZSCHE_PT, il invoque généralement des
                        métaphores telles
                        que
                        <em>naissance</em> de GENESIS_GT. Lorsque Levinas parle de HEIDEGGER_PT, il invoque
                        généralement
                        métaphores
                        de la <em>décès</em> de GENESIS_GT.</p></div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="english-parallelism" role="tabpanel"
                     aria-labelledby="nav-parallelism-tab">
                    <div class="english">
                        <p>Certain <a href="https://encyclopediaofmath.org/wiki/Manifold">manifolds</a>
                            have <a
                                    href="https://encyclopediaofmath.org/wiki/Homology_manifold">homologous </a>
                            <a
                                    href="https://encyclopediaofmath.org/wiki/Topology,_general"> topologies</a>
                            and their <a
                                    href="https://encyclopediaofmath.org/wiki/Tensor_bundle">tensor</a>
                            transformations occur in
                            parallel to
                            each other</p>
                        <p>For example, when Levinas disusses NIETZSCHE_PT, he typically invokes metaphors such
                            as
                            <em>birth</em> from GENESIS_GT. When Levinas discusses HEIDEGGER_PT, he typically
                            invokes
                            metaphors
                            of <em>death</em> from GENESIS_GT.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
