{% load i18n %}
<h4 class="card-title">{% trans "Abstract" %}</h4>
<p class="card-text">{% trans "Levinas’s work can be understood better by mapping the relations within and between multiple dimensions of topological manifolds that describe the thematic tensor transformations within and between various Genre Sets (GS)" %}.</p>
<p class="card-text">{% trans "Many great works have been written mapping the relations between Levinas’s language and those of other philosophers such as Heidegger, Husserl, or Hegel" %}.</p>
<p class="card-text">{% trans "However, there remains much work to be done to investigate the structure of Levinas’s books, the structure of his sentences and phrases, the rules for the functional transformations of terms, the patterns that govern their periodic recurrence and their juxtaposition against other metaphoric terms" %}.</p>
<p class="card-text">{% trans "Already in his earliest published works, Levinas displays extraordinary attention to linguistic morphemes and their metaphorical dimensions. In his 1932 article that introduced Heidegger to the francophone world, Martin Heidegger et l’ontologie, Levinas explains his decision to translate Heidegger’s term Zuhandenheit as maniabilite because he wishes to “take this term in its etymological sense” 35, preserving the root’s reference to the hand. In a conversation shortly after the end of the second world war, Levinas explicitly reflects upon the importance of morphemes in Heidegger’s thought, explaining that what Heidegger’s linguistic constructions Being-in-the-world, Being-towards-death, and Being-with add to our philosophical awareness “is that these prepositions ”in',“for”, and “with” are in the root of the verb “to be” (as “ex” is in the root of the verb “to exist”)'" %}.</p>
<p class="card-text">{% trans "We should therefore assume that Levinas thinks deliberately about all aspects of language: of roots, prefixes, and suffixes; of the nominal, verbal, prepositional, adjectival, and adverbial parts of speech; of the active, middle, and passive voices; of the nominative, vocative, dative, genitive, ablative, accusative and even locative cases" %}.</p>
<p class="card-text">{% trans "This project endeavors to map out the topology of the manifold of these Genre Sets(TG)" %}</p>
<p class="card-text"><h5>{% trans "The site is divided into the following sections:" %}</h5>
<ul class="list-genre">
    <li class="list-genre-item">
        <a href="/summary">{% trans "Project Summary" %}</a></li>
    <li class="list-genre-item">
        <a href="/words">{% trans "Word list" %}</a></li>
    <li class="list-genre-item">
        <a href="/genres">{% trans "Genre Sets" %}</a></li>
    <li class="list-genre-item">
        <a href="/membership">{% trans "Genre membership" %}</a></li>
    <li class="list-genre-item">
        <a href="/relations">{% trans "Internal and external relations" %}</a></li>
    <li class="list-genre-item">
        <a href="/technical">{% trans "Technical notes" %}</a></li>
</ul>
