{% if word.definition.english_explanation %}
<h4 class="card-title">Étymologie</h4>
<div>
<blockquote class="blockquote"><p class="mb-4">{{ word.definition.english_explanation }}</p>
<footer class="blockquote-footer">
                {{ sources.definition.english.name }}
<cite title="Source Title">
<a href="{{ sources.definition.english.url }}{{ word }}" target="_blank">
                        {{ sources.definition.english.url }}{{ word }}</a></cite></footer></blockquote></div>
{% else %}
    {{ sysmsg.no_value_yet_en }}
{% endif %}
