<div class="card">
    <div class="card-title">
         {% french_english_span 'Le décompte de mots@Word counts' %}
    </div>
    <div class="card-body">
        <table id="word_listing"
               class="display table-striped table-bordered compact border-top border-dark rounded mt-20">
            <thead class="thead-dark">
            <tr>
                <th>{% french_english 'Quantité en "Totalité"@Quantity in "Totality"' %}</th>
                <th>{% french_english 'Quantité en "Autrement"@Quantity in "Otherwise"' %}</th>
                <th>{% french_english "Somme@Sum" %}</th>
                <th>{% french_english "Proportion@Proportion" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ word.ti }}</td>
                <td>{{ word.otb }}</td>
                <td> {{ sum }} </td>
                <td>{{ proportion }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
