{% load radical_empiricism_templates %}
    <nav class=" navbar navbar-expand-sm navbar-dark bg-dark mb-20">
        <ul class="navbar-nav align-items-baseline">
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Résumé du projet,Project Summary" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Liste de mots,Word list" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Thèmes sémantiques,Semantic themes" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Racines étymologiques,Etymological roots" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Préfixes,Prefixes" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Suffixes,Suffixes" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Parties du discours,Parts of speech" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% french_english "Sources,Sources" %}</a>
            </li>
        </ul>
    </nav>
