    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Project Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Word List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Themes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Etymologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prefixes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Suffixes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Parts of Speech</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sources</a>
            </li>
        </ul>
    </nav>
