<div class="border-black border-top border-bottom">
    <nav class=" navbar navbar-expand-sm navbar-light bg-light justify-content-end mb-20">
        <ul class="navbar-nav align-items-baseline">
            <li {% if request.resolver_match.url_name|lower == 'summary' %}class="active"{% endif %}
                class="nav-item">
                <a class="nav-link" href="/summary">{% fe_vertical "Résumé du projet@Project Summary" %}</a>
            </li>
            <li {% if request.resolver_match.url_name|lower == 'words' %}class="active"{% endif %}
                class="nav-item">
                <a class="nav-link" href="/words">{% fe_vertical "Liste de mots@Word list" %}</a>
            </li>
            <li {% if request.resolver_match.url_name|lower == 'genres' %}class="active"{% endif %}
                class="nav-item">
                <a class="nav-link"
                   href="/genres">{% fe_vertical "Genrees Thématiques (GT)@Thematic Genres" %}</a>
            </li>
            <li {% if request.resolver_match.url_name|lower == 'membership' %}class="active"{% endif %}
                class="nav-item">
                <a class="nav-link" href="/membership">{% fe_vertical "Appartenance à un genree@Genre membership" %}</a>
            </li>
            <li {% if request.resolver_match.url_name|lower == 'relations' %}class="active"{% endif %}
                class="nav-item">
                <a class="nav-link"
                   href="/relations">{% fe_vertical "Relations internes et externes (IR/ER)@Internal and external relations" %}</a>
            </li>
            <li {% if request.resolver_match.url_name|lower == 'technical' %}class="active"{% endif %}
                class="nav-item">
                <a class="nav-link" href="/technical">{% fe_vertical "Notes techniques@Technical notes" %}</a>
            </li>
        </ul>
    </nav>
</div>