{% load radical_empiricism_templates %}
<thead class="thead-dark">
<tr>
    <th>{% french_english "Mot@Word" %}</th>
    <th>{% french_english 'Quantité en "Totalité"@Quantity in "Totality"' %}</th>
    <th>{% french_english 'Quantité en "Autrement"@Quantity in "Otherwise"' %}</th>
    <th>{% french_english "Somme@Sum" %}</th>
    <th>{% french_english "Proportion@Proportion" %}</th>
    <th>{% french_english "Plus d'information et textes@More information and texts" %}</th>
</tr>
</thead>
