<div>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th> Line #</th>
                <th>{{ titles.otb.long.french }}</th>
                <th>{{ titles.otb.long.english }}</th>
            </tr>
            </thead>
            <tbody>
            {% for bl in book_lines.otb %}
                <tr>
                    <td>{{ bl.line }}</td>
                    <td>{{ bl.french }}</td>
                    <td>{{ bl.english }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
