{% extends "base.html" %}
{% block content %}
    <h1> Information for {{ word.french }} ({{ word.english }})</h1>
    {% include 'includes/counts.html' %}
    <div>
        {% include 'includes/definition.html' %}
        {% include 'includes/etymology.html' %}
    </div>
    <div>
        {% include 'includes/definition.html' %}
        {% include 'includes/etymology.html' %}
    </div>

    <div>
        {% include 'includes/tilines.html' %}
        {% include 'includes/otblines.html' %}
    </div>
{% endblock %}