  <h2> Counts</h2>
    <table>
        <tr>
            <th>
                Title
            </th>
            <td>
                <span>
                    {{ titles.ti.short.french }}
                </span>
                    <span>
                    ({{ titles.ti.short.english }})
                </span>
            </td>
            <td>
                <span>
                    {{ titles.otb.short.french }}
                </span>
                    <span>
                    ({{ titles.otb.short.english }})
                </span>
            </td>
        </tr>
        <tr>
            <th>
                Count
            </th>
            <td>
                {{ word.ti }}
            </td>
            <td>
                {{ word.otb }}
            </td>
        </tr>
    </table>
