    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Résumé | Abstract </h4>
            Great work has been done to compare the structures of his relation to other philosophers such as Heidegger
            We observe various patterns when we do so. of transformations of language throughouts
            observe this attention to linguistic morphology by tracing the transformations of
            metaphorics throughout his work.
            Already in his earliest published works, Levinas displays extraordinary attention to linguistic morphemes
            and
            their
            metaphorical dimensions. In his 1932
            article that introduced Heidegger to the francophone world, Martin Heidegger et
            l’ontologie, Levinas explains his decision to translate Heidegger’s term Zuhandenheit as maniabilite because
            he
            wishes to “take this term in its etymological sense”35,
            preserving the root’s reference to the hand. In a conversation shortly after the
            end of the second world war, Levinas explicitly reflects upon the importance of
            morphemes in Heidegger’s thought, explaining that what Heidegger’s linguistic
            constructions Being-in-the-world, Being-towards-death, and Being-with add to our
            philosophical awareness “is that these prepositions ‘in’, ‘for’, and ‘with’ are in the
            root of the verb ‘to be’ (as ‘ex’ is in the root of the verb ‘to exist’)”.36 We should
            therefore assume that Levinas thinks deliberately about all aspects of language: of
            roots, prefixes, and suffixes; of the nominal, verbal, prepositional, adjectival, and
            adverbial parts of speech; of the active, middle, and passive voices; of the nominative, vocative, dative,
            genitive,
            ablative, accusative and even locative cases.
            Emmanuel Levinas is an author who pas special attention to the
        </div>
    </div>
