<div class="card">
    <div class="card-body">
        <h4 class="card-title">Sentences and phrases as thematic constellations </h4>
        <div class="nav bilingual" id="constellation-tab" role="tablist">
            <a class="nav-link active" id="french-constellation-tab" data-bs-toggle="tab"
               data-bs-target="#french-constellation"
               type="button" role="tab" aria-controls="nav-constellation" aria-selected="true">
                Français
            </a>
            <a class="nav-link" id="english-constellation-tab" data-bs-toggle="tab"
               data-bs-target="#english-constellation"
               type="button" role="tab" aria-controls="nav-constellation" aria-selected="true">
                English
            </a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="french-constellation" role="tabpanel"
                 aria-labelledby="nav-constellation-tab">
                <h6 class="anglais">
                    <blockquote class="blockquote">
                        <em>La naissance et la mort comme moments ponctuels et l'intervalle qui les sépare se logent
                            dans ce
                            temps universel de l'historien qui est un survivant</em>
                    </blockquote>
                    <p><em>Totalité et infini : essai sur l'extériorité</em>, p. 48</p>
                    <h5>Analyse</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Mot</th>
                            <th>Catégories</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href='/word/La'>La</a></td>
                            <td>GENESIS_GT -- féminin, MATHEMATICS_GT -- singulier, également homonyme de "là" (la)
                                en français,
                                donc GEOMETRY_GT
                            </td>
                        </tr>
                        <tr>
                            <td><a href='/word/naissance'>naissance</a></td>
                            <td>GENESIS_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/et'>et</a></td>
                            <td>MATHEMATICS_GT (une conjonction)</td>
                        </tr>
                        <tr>
                            <td><a href='/word/la'>la</a></td>
                            <td>Voir ci-dessus</td>
                        </tr>
                        <tr>
                            <td><a href='/word/mort'>mort</a></td>
                            <td>GENESIS_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/comme'>comme</a></td>
                            <td>ONTOLOGY_PT -- relation</td>
                        </tr>
                        <tr>
                            <td><a href='/word/instants'>instants</a></td>
                            <td>PHYSICS_GT -- espace-temps</td>
                        </tr>
                        <tr>
                            <td><a href='/word/ponctuels'>ponctuels</a></td>
                            <td>Espace-temps à dimension zéro. GEOMETRY_GT -- points sur une carte, PHYSICS_GT --
                                points de temps
                            </td>
                        </tr>
                        <tr>
                            <td><a href='/word/et'>et</a></td>
                            <td>Voir ci-dessus</td>
                        </tr>
                        <tr>
                            <td>l'intervalle</td>
                            <td>GEOMETRY_GT -- Espace unidimensionnel</td>
                        </tr>
                        <tr>
                            <td><a href='/word/qui'>qui</a></td>
                            <td>ONTOLOGY_PT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/les'>les</a></td>
                            <td>MATHEMATIQUES_GT</td>
                        </tr>
                        <tr>
                            <td>séparer</td>
                            <td>GEOMETRY_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/se'>se</a></td>
                            <td>ONTOLOGY_GT -- les verbes réfléchis ont leur propre logique liée à la réflexivité de
                                la réduction,
                                à l'asymétrie qui se produit parce qu'on ne peut jamais se voir de l'extérieur : le
                                Soi peut
                                voir seulement l'Autre. Seul l'Autre peut voir le Soi. Le Soi ne peut jamais se voir
                                depuis le
                                à l'intérieur. Le Soi ne peut se considérer que comme un Autre
                            </td>
                        </tr>
                        <tr>
                            <td><a href='/word/logent'>logent</a></td>
                            <td>PHSYICS_GT, GENESIS_GT -- à la fois des intervalles spatio-temporels ou des
                                voisinages géodésiques, ainsi qu'une maison
                                pour la famille
                            </td>
                        </tr>
                        <tr>
                            <td><a href='/word/dans'>dans</a></td>
                            <td>GEOMETRY_GT – dans</td>
                        </tr>
                        <tr>
                            <td><a href='/word/ce'>ce</a></td>
                            <td>MATHEMATIQUES_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/temps'>temps</a></td>
                            <td>PHYSIQUE_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/universel'>universel</a></td>
                            <td>ONTOLOGY_GT, MATHEMATICS_GT</td>
                        </tr>
                        <tr>
                            <td>de</td>
                            <td>ONTOLOGY_GT, GENESIS_GT</td>
                        </tr>
                        <tr>
                            <td>l'historien</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href='/word/qui'>qui</a></td>
                            <td>ONTOLOGY_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/est'>est</a></td>
                            <td>ONTOLOGY_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/un'>un</a></td>
                            <td>ONTOLOGY_GT, MATHEMATICS_GT</td>
                        </tr>
                        <tr>
                            <td><a href='/word/survivant'>survivant</a></td>
                            <td>MATHEMATICS_GT, GENESIS_GT, GEOMETRY_GT. Le survivant est celui qui vit au-dessus de
                                celui qui
                                mort, qui vit l'Au-delà de celui qu'il a assassiné, le père du passé.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </h6>
            </div>
        </div>
            <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="english-constellation" role="tabpanel"
             aria-labelledby="nav-constellation-tab">
            <div class="english">
                <blockquote class="blockquote">
                    La naissance et la mort comme moments ponctuels et l'intervalle qui les sépare se logent dans ce
                    temps
                    universel de l'historien qui est un survivan
                </blockquote>
                <p><em>Totalité et infini : essai sur l'extériorité</em>, p. 48</p>
                <h5>Analysis</h5>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Word</th>
                        <th>Categories</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href='/word/la'>La</a></td>
                        <td>GENESIS_GT -- feminine, MATHEMATICS_GT -- singular, also a homonym for "there" (la) in
                            french,
                            so GEOMETRY_GT
                        </td>
                    </tr>
                    <tr>
                        <td><a href='/word/naissance'>naissance</a></td>
                        <td>GENESIS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/et'>et</a></td>
                        <td>MATHEMATICS_GT (a conjunction)</td>
                    </tr>
                    <tr>
                        <td><a href='/word/la'>la</a></td>
                        <td>See above</td>
                    </tr>
                    <tr>
                        <td><a href='/word/mort'>mort</a></td>
                        <td>GENESIS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/comme'>comme</a></td>
                        <td>ONTOLOGY_PT -- relation</td>
                    </tr>
                    <tr>
                        <td><a href='/word/moments'>moments</a></td>
                        <td>PHYSICS_GT -- spacetime</td>
                    </tr>
                    <tr>
                        <td><a href='/word/ponctuels'>ponctuels</a></td>
                        <td>Zero-dimensional space-time. GEOMETRY_GT -- points on a map, PHYSICS_GT -- points of
                            time
                        </td>
                    </tr>
                    <tr>
                        <td><a href='/word/et'>et</a></td>
                        <td>See above</td>
                    </tr>
                    <tr>
                        <td>l'intervalle</td>
                        <td>GEOMETRY_GT -- One-dimensional space</td>
                    </tr>
                    <tr>
                        <td><a href='/word/qui'>qui</a></td>
                        <td>ONTOLOGY_PT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/les'>les</a></td>
                        <td>MATHEMATICS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/separe'>sépare</a></td>
                        <td>sépare</td>
                        <td>GEOMETRY_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/se'>se</a></td>
                        <td>ONTOLOGY_GT -- reflexive verbs have their own logic related to the reflexivity of the
                            reduction,
                            to the asymmetry that occurs because one can never see oneself from the outside: The
                            Self can
                            only see the Other. Only the Other can see the Self. The Self can never view the Self
                            from the
                            inside. The Self can only view the Self as an Other
                        </td>
                    </tr>
                    <tr>
                        <td><a href='/word/logent'>logent</a></td>
                        <td>PHSYICS_GT, GENESIS_GT -- both space time intervals or geodesic neigborhoods, as well as
                            a home
                            for the family
                        </td>
                    </tr>
                    <tr>
                        <td><a href='/word/dans'>dans</a></td>
                        <td>GEOMETRY_GT - within</td>
                    </tr>
                    <tr>
                        <td><a href='/word/ce'>ce</a></td>
                        <td>MATHEMATICS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/temps'>temps</a></td>
                        <td>PHYSICS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/universel'>universel</a></td>
                        <td>ONTOLOGY_GT, MATHEMATICS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/de'>de</a></td>
                        <td>ONTOLOGY_GT, GENESIS_GT</td>
                    </tr>
                    <tr>
                        <td>l'historien</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href='/word/qui'>qui</a></td>
                        <td>ONTOLOGY_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/est'>est</a></td>
                        <td>ONTOLOGY_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/un'>un</a></td>
                        <td>ONTOLOGY_GT, MATHEMATICS_GT</td>
                    </tr>
                    <tr>
                        <td><a href='/word/survivan'>survivan</a></td>
                        <td>MATHEMATICS_GT, GENESIS_GT, GEOMETRY_GT. The survivor is the one who lives on top of the
                            one who
                            died, who lives out the Beyond of the one who he has murdered, the father of the past.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

