<div class="list-group-item ">Relations between Groups
    <div class="list-group ">
        <div class="list-group-item ">Polysemantic Intersection
            For example ORIGIN
            <div class="list-group">
                birth, family, mathemathematics,
            </div>
            <div class="list-group">
                absence - presence, visage - face, totality - infinity, same - other,
            </div>
        </div>
        <div class="list-group-item ">Combinations (survivre = sur (height) + vivre (Family
            Group)
        </div>
        <div class="list-group-item ">Constellational Proximities
            Certain ThematicGroups occur within
        </div>
    </div>
</div>
