    <div class="card">
        <div class="card-body">
            <div class="list-group-item ">Relations within Groups
                <div class="list-group ">Homology</div>
                <div class="list-group ">
                    <div class="list-group-item ">Opposition
                        <div class="list-group">
                            absence - presence, visage - face, totality - infinity, same - other,
                        </div>
                    </div>
                    <div class="list-group-item ">Flat Projection</div>
                    <div class="list-group-item ">Two-Dimensional Curvature Tensors
                        <div class="list-group ">
                            Self is High, Other is Low
                            <div class="list-group">
                                destitute,
                            </div>
                            Self is Low, Other is High
                            <div class="list-group">
                                height,
                            </div>
                            Other is Low, Self is High
                            <div class="list-group">
                                survivor, resurrection,
                            </div>
                            Other is High, Self is Low
                            Flat projection of curvature
                        </div>
                        The first perspective is an inversion of this subjective point of view, in which
                        I gaze upwards at the Other. The perspective is the most noticeable one in Totality
                        and
                        Infinity,
                        articulated in Levinas’s description of the visage as revealed
                        “in the dimension of height”86 and in the motif of transcendence that animates
                        much of the text. Levinas’s usage of the superlative adverb most and suffix –est is
                        77 Levinas: Totality…, op. cit., p. 36. 78 Ibid., p. 39. 79 Ibid., p. 141. 80 Ibid.,
                        p. 147.
                        81
                        Ibid., p. 158. 82 Ibid., p. 192. 83 Ibid., p. 156. 84 Ibid., p. 297. 85 Ibid., p.
                        199. 86
                        Ibid.,
                        p.
                        77.
                        159
                        determined by this perspective as are his employment of prefixes such as ex– and
                        sur– to describe, for example, how the other person exceeds or surpasses as an
                        “absolute surplus”.87 The Other’s height is articulated through correlate attributes
                        such as mastery, which is manifested in a variety of ways, for example as the one
                        who commands “you shall not commit murder”88 and who teaches the lesson of
                        his exteriority to consciousness.89 This mastery can also exhibit malevolence as the
                        “transcendence of the antagonist”90 who threatens me with death that “comes from
                        the other as a tyranny”.91
                        The second perspective, perversion, occurs when I look downwards at the
                        other person from my relative height, such as when I perceive the “defenseless
                        eyes”92 of the other emanating from a depth. This perspective is similarly indicated
                        whenever I
                        regard the other person in an embodied materiality, in misery
                        and destitution, as naked and hungry.93 From my height, I perceive this material
                        poverty as an “appeal to my powers”94, appealing to my sovereign subjectivity to
                        provide material assistance.
                        The third perspective, subversion, occurs when the other person views the
                        self in its lowness. The dynamic of being-underneath can already be understood
                        in the terms “subjectivity” and “hypostasis”, which etymologically connote being
                        thrown-under and standing-under. Within Totality and Infinity, Levinas mentions
                        this aspect when he describes the nascent self relating to the environmental element
                        as “a
                        wave
                        that
                        engulfs and submerges and drowns”.95 Levinas intensifies this
                        analysis in Otherwise than Being by applying to subjectivity vivid metaphors of
                        material poverty; for example, as a “denuding beyond the skin, to the wounds one
                        dies from, denuding to death, being as a vulnerability”.96
                        The fourth perspective, reversion, occurs when the self is viewed in its height.
                        From the viewpoint of the Other, the self-assertion of subjective mastery comes
                        under
                        judgment
                        such
                        that it manifests as “the imperialism of the same”.97 This external
                        87 Ibid., p. 97. 88 Ibid., p. 199. 89 Ibid., p. 204. 90 Ibid., p. 222. 91 Ibid., p.
                        239. 92
                        Ibid.,
                        p. 199. 93 Ibid., p. 75. 94 Ibid., p. 213. 95 Ibid., p. 135. 96 Levinas: Otherwise…,
                        op.
                        cit.,
                        p.
                        49. “Denuding” is the same motif Levinas ascribes to the visage in
                        Totality and Infinity, “La nudité du visage est dénûment.”, which Lingis translates
                        as “The
                        nakedness
                        of the face is destituteness.” Levinas: Totality…, op. cit., p. 75. 97 Levinas:
                        Totality…,
                        op.
                        cit.,
                        p. 38.
                        160
                        perspective demonstrates that the first-person of subjectivity is already secondary
                        and that the birth of the subject is already a rebirth. For this reason, the
                        dynamics of
                        subject-formation often appear through the prefix re, as repetitions and returnings,
                        the “reversion”98 of interiority that “reabsorbs”99 the alterity of the world in a
                        present
                        of
                        representation through the remembrance of memory100, an achievement of
                        subjectivity expressed as “recurrence”101 within Otherwise than Bei
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item ">Relations between Groups
            <div class="list-group ">
                <div class="list-group-item ">Polysemantic Intersection
                    For example ORIGIN
                    <div class="list-group">
                        birth, family, mathemathematics,
                    </div>
                    <div class="list-group">
                        absence - presence, visage - face, totality - infinity, same - other,
                    </div>
                </div>
                <div class="list-group-item ">Combinations (survivre = sur (height) + vivre (Family
                    Group)
                </div>
                <div class="list-group-item ">Constellational Proximities
                    Certain ThematicGroups occur within
                </div>
            </div>
        </div>
    </div>
