<div class="card">
    <div class="card-body">
        <h4 class="card-title">Appartenance à un genre | Genre membership </h4>
        <div class="list-genre-item ">
            <h4 class="card-title">Métaphorique | Metaphorical </h4>
            <div class="genre-thematique-label">CONSCIENCE</div>
            <div class="list-genre">
                <a class="btn btn-light" target="_blank" href="/word/sommeil">sommeil </a>
                <a class="btn btn-light" target="_blank" href="/word/insomnie">insomnie </a>
                <a class="btn btn-light" target="_blank" href="/word/conscience">conscience </a>
                <a class="btn btn-light" target="_blank" href="/word/conscience">conscience </a>
                <a class="btn btn-light" target="_blank" href="/word/attention">attention </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Racines étymologiques | Etymological roots </h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Préfixes | Prefixes </h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Suffixes | Suffixes </h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Parties du discours | Parts of speech </h4></div>
        </div>
        <div class="card">
            <div class="card-body"><h4 class="card-title">Thèmes sémantiques | Semantic themes </h4></div>
        </div>
        Many of these genres are topologically homologous to each other and
        can be mapped onto each
        other.
        For
        example,
        the relations within the Appearance_Genre can be correlated to the Faciality_Genre. The
        formula for
        transformation is being investigated by this research
    </div>
</div>
