    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Objectif | Objective </h4>
            <nav>
                <div class="nav bilingual" id="objective-tab" role="tablist">
                    <a class="nav-link active" id="french-objective-tab" data-bs-toggle="tab"
                       data-bs-target="#french-objective"
                       type="button" role="tab" aria-controls="nav-counts" aria-selected="true">
                        Français
                    </a>
                    <a class="nav-link" id="english-objective-tab" data-bs-toggle="tab"
                       data-bs-target="#english-objective"
                       type="button" role="tab" aria-controls="nav-counts" aria-selected="true">
                        English
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="french-objective" role="tabpanel"
                     aria-labelledby="nav-counts-tab"><p
                        class="card-text">Cartographier les relations au sein et entre les multiples dimensions des
                    variétés topologiques qui décrivent le transformations tensorielles thématiques au sein et entre
                    divers groupes thématiques (GT). Les relations seront retracées par détermination d'une projection
                    plate, double et par 2x2 conversions perspectives et conversationnelles, et par en considérant
                    comment divers groupes étymologiques et sémantiques sont transformés en diverses formes de mots.</p>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="english-objective" role="tabpanel" aria-labelledby="nav-counts-tab"><p
                        class="card-text"> To map the relations within and between multiple dimensions of topological
                    manifolds that describe the thematic tensor transformations within and between various Thematic
                    Groups (GT). Relations will be traced by detemining a flat projections, doubles and by 2x2
                    perspecitval and conversational conversions, and by considering how various etymological and
                    semantic groups are transformed into various word forms. </p>
                </div>
            </div>
        </div>
    </div>
