
<h4 class="card-title">Combinations</h4>
<p class="card-text english">Prefixes, suffixes, prepositions, etymological roots, and verbal, nominal, adjectival and adverbial combinations all belong to various THEMATIC_GENRES. This enables a single word to envelop an N-ply manifold of THEMATIC_GENRES</p>.
<p class="card-text english">
    <span>For example, the word </span>
    <a href="/word/survivre">"survivor"</a>
    <span>belongs to the genre GENESIS because the etymological root is "vivre". It belongs to the genre MATHEMATICS because the prefix "sur" connotes height</span>.
</p>
<p class="card-text english">
    <span>The birth of the son is referred to as a</span>
    <a href="/word/resurrection">"resurrection"</a>
    <span>because it again rises (surgir) again (re), thus combining "height" and "recurrence" from MATHEMATICS</span>
</p>
