<h4 class="card-title">Combinations </h4>
<p class="card-text english">Prefixes, suffixes, prepositions, etymological roots, and
    verbal, nominal, adjectival and adverbial
    combinations all belong to various THEMATIC_GROUPS. This enables a single word to
    envelop an N-ply manifold
    of THEMATIC_GROUPS.
</p>
<p class="card-text english">For example, the word <a
        href="/word/survivre">"survivor"</a> belongs to the group GENESIS_GT because the
    etymological root is "vivre". It belongs to the
    group MATHEMATICS_GT because the prefix "sur" connotes height.
</p>
<p class="card-text english">The birth of the son is referred to as a <a
        href="/word/resurrection">"resurrection"</a> because it again
    rises (surgir) again (re), thus combining "height" and "recurrence" from
    MATHEMATICS_GT
</p>
