<h4 class="card-title">The principle of duality</h4>
<h5>Reciprocal polars and the Principle of duality</h5>
<p class="card-text">Levinas's logic can be examined using principles established by the 19th century
    projective geometry established by
    <a href="https://en.wikipedia.org/wiki/Jean-Victor_Poncelet"> Poncelet</a>,
    <a href="https://en.wikipedia.org/wiki/Gaspard_Monge">Monges</a>, and
    <a href="https://en.wikipedia.org/wiki/Michel_Chasles">Chasles</a>,
    <a href="https://fr.wikipedia.org/wiki/August_Ferdinand_M%C3%B6bius">M%C3%B6bius</a>
    namely
    <a href="https://www.britannica.com/science/duality">the principle of duality</a>
    <a href="https://www.mn.uio.no/math/personer/vit/ragnip/boris_h.pdf">reciprocal</><
    <a href="https://en.wikipedia.org/wiki/Pole_and_polar">polarity</a>, and
    <a href="https://en.wikipedia.org/wiki/Cross-ratio">
        the cross-ratio, also called the double ratio and anharmonic ratio
    </a>
    , in French
    <a href="https://fr.wikipedia.org/wiki/Birapport">le birapport, ou rapport anharmonique se</a>
</p>
<p class="card-text">He refers to this repeatedly,
    in discussions of ambguity, ambphibology, contradictions, paradoxes, and so on.
    It is apparent in his usage of oppositions such as "totality" and "infinity", "self" and "other"
</p>
<p class="card-text">The nature of this polar relationship is one of the most misunderstood aspects of Levinas's
    writing. It is often
    dialectics practiced according to the logic of friend against enemy, a struggle unto death. Even Jean-François
    Lyotard speaks of "The hatred of the neutral constantly evinced by Levinas."
</p>
<p class="card-text">
    This reading of polarity as animosity has had an alarming effect on Levinas scholarship: a tendency to read his
    ethical phenomenology as an ethics of ressentiment.
    When Richard Cohen asserts that Levinas’s “battle cry would be ‘Against evil, for the good!’” we must
    ask whether such polemics express Levinas’s thinking or whether Cohen even understands what the words "good" and
    "evil" mean in Levinas's writing. For Levinas, the "good" refers to the novelty positivity of the future, the "plus
    one"; the "evil" refers to the novel negativity of the future. Cohen's usage of these terms, however, evokes a
    different genealogy of morals.
</p>
<p class="card-text">But this is a misreading of polarity. Such an interpretation would figure negativity as the primary
    relation between poles. But for Levinas, negation already implies a positive relationship, in which each term
    maintains its own specific gravity. For this reason, the negation of a negation is neither a tautology nor a direct
    reflection nor a Hegelian <em>Aufhebung</em> but
    rather a warped, inflected image produced by the light refracted by this gravitational excess. Because the apparent
    negations within Levinas’s texts are made
    possible by a prior positivity, one should not reduce his work to a set of polemical
    polarities and formulations of his thought as violence.
</p>
<p class="card-text">Polar relations are always reciprocal relations between two positive poles</p>
<h5>"And"-relations. </h5>
<p>Levinas relates terms through the conjunction "and". Gilles Deleuze and Felix Guattari explain the meaning of this
    word in their explanation of the Rhizome:
</p>
<blockquote>
    A rhizome has no beginning or end; it is always in the middle, between
    things, interbeing, intermezzo. The tree is filiation, but the rhizome is alliance,
    uniquely alliance. The tree imposes the verb "to be," but the fabric of
    the rhizome is the conjunction, "and. . . and.. . and. . ." This conjunction
    carries enough force to shake and uproot the verb "to be." Where are you
    going? Where are you coming from? What are you heading for? These are
    totally useless questions. Making a clean slate, starting or beginning again
    from ground zero, seeking a beginning or a foundation—all imply a false
    conception of voyage and movement (a conception that is methodical, pedagogical,
    initiatory, symbolic...).
</blockquote>
<p class="card-text"> Deleuze takes this from Jean Wahl</p>
<blockquote>
    32. "And" has an especially important role in English literature, as a function not only of
    the Old Testament but also of the "minorities" at work on the language: one case in point is J.
    M. Synge (see Francois Regnault's remarks on coordination in Anglo-Irish in the French
    translation of Playboy of the Western World, Baladin du monde occidental [Paris:
    Biblio-theque du Graphe]). It should not be thought adequate to analyze the "and" as a
    conjunction; rather, "and" is a special form of every possible conjunction and brings into play a
    logic of language. Jean Wahl's works contain profound reflections on this sense of "and," on
    the way it challenges the primacy of the verb "to be."
    33. Hjelmslev, Language: An Introduction, trans. Francis
</blockquote>
<h5>2 > 1</h5>
<p class="card-text">The importance of doubling should be understood in light of the
    misunderstood slogan "ethics is first philosophy."
    Rather than urging us to embrace the rank of priority, Levinas invites us to question
    the priority of priority, to understand
    how priority is always secondary to the relationship to a second party. The second party
    is the other, who is also a singularity, but placed
    in a position of juxtapostion or proximity or seriality
</p>
<p class="card-text">
    The ontological predication Ethics is First Philosophy should be read
    alongside Levinas’s usage of numeration. Numeration in Levinas does not follow the
    standard rules of ordinality, where each successive term can be produced by adding
    an increment to it. Each transition already refers to an ethical transmutation between
    (0) nothingness, (1) the subjective first-person, (2) the second-person dyad, and (3)
    the third-person who refers to (∞) an infinite multiplicity. To understand the phrase
    First Philosophy, one must already question the priority of priority, how the first
    principle archē is already disturbed by the anarchy of these numerous relationships
</p>
<p class="card-text">
    Within Totality and Infinity, Levinas expresses this logic of polarity most clearly through metaphors of gender
</p>
<p class="card-text">
    I would in fact suggest that Levinas not only gives this polarity a gender but gives this gendered Feminine a proper
    name, a biblical name. It is not one of the feminine names Levinas gives in “Judaism and the Feminine” such as
    Miriam or Tamar or Leah (DF 31), but it is perhaps the most frequently used name in the bible.
<p class="card-text">It should be noted that the number two has special significance in
    Judaism. Books of Talmud
    always open on the second page. The first book of creation, Genesis, starts with the
    word B'RAISHIT. The root of the word
    "ROSH" means the head or the first. The prefix "B'" means the number two, as well as
    noun home, as well as the locative relation "inside".
    The most popular female name in the bible is, in fact, "Beth" as in "Bethlehem"
</p>
<p class="card-text">
    There are multiple reasons why it is useful to express the Feminine as being named “Beth.” In Hebrew, “Beth”
    signifies not only a proper name, but also the second letter of the alphabet, בּ. It can function as a locative
    prefix indicating “inside,” perhaps even “interiority.” Although בּ is the second letter of the alphabet, it is the
    first letter of creation, the first letter in the first word of the first parshah of the first book of Torah:
    בְּרֵאשִׁית, “In the beginning.” Already in this very word, the root רֹאשׁ--which can be translated as “head” or
    “first” or even “ἀρχή”-- is preceded by the secondary letter בּ. “Beth” in Hebrew signifies not only the letter בּ,
    but also the word בַּיִת, which translates as “house,” even as “dwelling.” For this reason, “Beth” is the most
    frequently used feminine name in the Bible, as a locative signifier in place names such as “Bethel” and “Beth
    Israel.” Again, the first word of Torah, בְּרֵאשִׁית, houses the primary רֹאשׁ within the בַּיִת.
</p>
<p class="card-text">
    There is something almost Pythagorean in his thought, in the sense that numbers are not used merely for counting,
    but themselves describe certain configurations of Being. A thorough investigation will require additional study, but
    we can begin to account for his numbers here.</p>
<p class="card-text">
    In addition to these various linguistic meanings, בּ also has a mathematical signification: Because Hebrew uses
    letters to represent numbers, בּ also signifies the number 2. One of the motifs that most pervasively underlies the
    Levinas’s work is the question of number. Like many philosophers before him, Levinas confronts a perennial
    mathematical problem: when we think of a certain quantity of things, we generally conceive of a singularity rather
    than a multiplicity. That is, when we contemplate “twenty dogs,” we typically consider this as a single group of
    twenty rather than thinking the twenty-ness of the twenty itself. Levinas expresses this problem through meditations
    on plurality and multiplicity “The plural is given to a number. Unity alone is ontologically privileged. Multiple
    is, but in synthesis is no more” (TI 274).
</p>
<p class="card-text">
    Before I produce this
    woman before you, let me begin by suggesting that, in his early work, Levinas states that “all philosophy is perhaps
    a meditation on Shakespeare” (TO 72). In contrast to the tragic Greek heroes who confront death as part of their
    fate and destiny in a Heideggerean Being-towards-Death, Levinas discusses man’s confrontation with death through the
    character of Macbeth. Macbeth not only wishes that the world would die along with him, “he wishes that the
    nothingness of death be a void as total as that which would have reigned had the world never been created” (TI 231,
    my italics). Two important things must be said about this dramatic person who opposes origination. First of all, he
    is warned by the witches--the Moirae, the Fates--that his death will come at the hands of an Other who is “not of
    woman born,” his friend MacDuff. Second, in order to understand who Macbeth himself is, we must understand that
    “Mac” is a common Gaelic prefix for “son of.” “MacBeth” is quite an unusual name because generally these names are
    patronymic, such as “Johnson” for the son of John or “MacDonald” for the son of Donald, but in this case it would
    appear that this familiar character is the son of a woman named “Beth” -- <a
        href=https://www.behindthename.com/name/macbeth">Mac Beatha meaning "son of life" </a>
</p>
<h5>0 before 1</h5>
<p class="card-text">
    Levinas's primary innovaton in Otherwise than Being is to focus on how <a href="/word/anarchy">anarchy</a> precedes
    subjectvity. The relationship explored is between 0 and 1, not between 1 and 2.
</p>