<p class="card-text">Certain doublings are opposed to each other</p>
<p class="card-text">Totality and Infinity narrates the recurrent cyclings of these doubles. Different
    sections of the book invert or bend
    these double relations. In one section, the Self occupies a place of height looking
    at the depth of the destitute other. In another section,
    the Other occupies a place of height looking down at the subject self in hypostasis
    and substitution. Other sections apply other metaphorical curvature tensors to warp
    the space furter</p>
<h5>Examples</h5>
<ul class="list-group">
    <li class="list-group-item"><a href="/word/absence">absence</a> - <a
            href="/word/presence">présence</a></li>
    <li class="list-group-item"><a href="/word/visage">visage</a> - <a
            href="/word/visage">visage</a></li>
    <li class="list-group-item"><a href="/word/totalite">totalité</a> - <a
            href="/word/infini">infini</a></li>
    <li class="list-group-item"><a href="/word/meme">même</a> - <a
            href="/word/autre">autre</a>
    </li>
</ul>
