<div class="card">
    <div class="card-body m-3">
        <div class="nav bilingual d-flex align-items-baseline mb-2" id="{{ component }}-tab" role="tablist">
            <div>
                <a class="nav-link active" id="french-{{ component }}-tab" data-bs-toggle="tab"
                   data-bs-target="#french-{{ component }}"
                   type="button" role="tab" aria-controls="nav-{{ component }}" aria-selected="true">
                    Français
                </a></div>
            <div>
                <a class="nav-link" id="english-{{ component }}-tab" data-bs-toggle="tab"
                   data-bs-target="#english-{{ component }}"
                   type="button" role="tab" aria-controls="nav-{{ component }}" aria-selected="true">
                    English
                </a>
            </div>
        </div>
        <div class="mt-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active french" id="french-{{ component }}" role="tabpanel"
                     aria-labelledby="nav-{{ component }}-tab">
                    {% include  'bilingual/french/'|add:component|add:'.html' %}
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade english" id="english-{{ component }}" role="tabpanel"
                     aria-labelledby="nav-{{ component }}-tab">
                    {% include  'bilingual/english/'|add:component|add:'.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

