<div id="accordion-{{ route }}" class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                    class="accordion-button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ route }}"
            >
                {{ title }}
            </button>
        </h2>
        <div
                id="collapse-{{ route }}"
                class="accordion-collapse collapse"
                data-bs-parent="#accordion-{{ route }}"
        >
            <div class="accordion-body">
                {% content_card route %}
            </div>
        </div>
    </div>
</div>
