
    <button class="btn btn-secondary"
            role="button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ genre }}"
            aria-expanded="false"
            aria-controls="#collapse-{{ genre }}"
    >
        {{ genre }}
        <span class="badge bg-white text-dark">{{ words|length }}</span>
    </button>
    <div class="collapse" id="collapse-{{ genre }}">
           <div class=" d-flex flex-wrap">
                {% for word in words %}
                    {% word_btn word %}
                {% endfor %}
            </div>
    </div>


